ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
.card{
    margin: 18px;
    padding: 14px;
    border: 1px solid #dadada;
    border-radius: 4px;
    text-align: center;
    background-color: #FFF;
    img{
        padding: 0 77px 0 77px;
    }
    .name{
        font-weight: 700;
        font-size: 12px;
    }
    .detail{
        color: gray;
        font-size: 12px;
        text-align: justify;
    }
}