<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.prize}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" *ngFor="let item of prizes">
    <img [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+item.prize_picture" alt="">
    <span *ngIf="language == 'english'" class="name">{{item.prize_name_EN}}</span>
    <span *ngIf="language == 'arabic'" class="name">{{item.prize_name_AR}}</span>
    <span *ngIf="language == 'indian'" class="name">{{item.prize_name_IN}}</span>
    <br> <br>
    <!-- <span *ngIf="language == 'english'" class="detail">{{item.prize_detail_EN}}</span>
    <span *ngIf="language == 'arabic'" class="detail">{{item.prize_detail_AR}}</span>
    <span *ngIf="language == 'indian'" class="detail">{{item.prize_detail_IN}}</span> -->
  </div>
</ion-content>