.logo{
    text-align: center;
    img{
        width: 74%;
        margin-top: 4rem;
    }
}
.title{
    text-align: center;
    h2{
        color: var(--ion-color-text);
        font-family: "Bold";
        margin-bottom: 24px;
    }
}
ion-row.input-container {
    background: white;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    ion-input{
        color: var(--ion-color-text);
        font-family: 'MuliSemiBold';
        font-size: 14px;
        --placeholder-color: var(--ion-color-palceholder);
    }
    ion-icon{
        padding: 9px 7px;
        background: #FAFAFA;
        border-radius: 6px;
        margin-left: 8px;
        margin-right: 16px;
        height: 14px;
        width: 18px;
    }
}
.rw{
    margin: 24px;
    .grp{
        display: flex;
        ion-icon{
            color: gray;
            background: rgba(218, 218, 218, 0.44);
            padding: 3px;
            border-radius: 4px;
        }
        .input-text{
            padding: 5px;
            margin-left: 20px;
            border: none;
            outline: none;
        }
    }
}
.password-actions{
    justify-content: space-between;
    display: flex;
    .pass{
        display: flex;
        align-items: center;
        padding-left: 14px;
        padding: 0;
        p{
            margin: 0;
            padding: 0;
            margin-left: 4px;
            color: #676767;
            font-size: 13px;
            font-family: 'MuliSemiBold';
        }
    }
    .forget{
        padding-right: 15px;
        a{
            float: right;
            text-decoration: none;
            color: var(--ion-color-primary);
            font-size: 13px;
            font-family: 'MuliSemiBold';
        }
    }
}

.send{
    margin-top: 50px;
    margin-bottom: 24px;
    ion-button{
        width: 100%;
        background: var(--ion-color-primary);
        span{
            font-size: 18px;
            color: #fff;
            font-family: "Bold"
        }
        
        outline: none;
    }
}
.register{
    text-align: center;
    span{
        font-size: 13px;
        font-family: 'MuliSemiBold'; 
        color: #676767;       
        a{
            font-size: 13px;
            font-family: 'MuliSemiBold'; 
            text-decoration: none;
            color: var(--ion-color-primary);
        }
    }
}