<ion-content class="ion-padding">
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/imgs/logo.png" alt="logo" srcset="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="title text-center">
      <h2> {{traduction.titleWelcom}}</h2>
    </ion-col>
  </ion-row>

  <ion-row class="input-container ion-margin-bottom">
    <ion-input  [placeholder]="traduction.placeholderEmail" [(ngModel)]="user.email" type="email"> 
      <ion-icon src="../../assets/icon/email.svg"></ion-icon>
    </ion-input>
  </ion-row>

  <ion-row class="input-container ion-margin-bottom">
    <ion-input  [placeholder]="traduction.placeholderPassword" [(ngModel)]="user.password" type="password"> 
      <ion-icon src="../../assets/icon/lock.svg"></ion-icon>
    </ion-input>
  </ion-row>

  <ion-row class="password-actions">
    <div class="pass">
      <input type="checkbox">
      <p>{{traduction.rememberPassword}}</p>
    </div>
    <div class="forget">
      <a [routerLink]="['/forgetpassword']"> {{traduction.forgetPassword}}</a>
    </div>
  </ion-row>
  <ion-row class="send">
      <ion-button color="primary" expand="full" (click)="login()">
        <span>{{traduction.buttonLogin}}</span>
      </ion-button>
  </ion-row>
  <ion-row>
    <ion-col class="register">
      <span> {{traduction.dontHaveAccount}} <a [routerLink]="['/signup']" >{{traduction.registerNow}}</a> </span>
    </ion-col>
  </ion-row>
</ion-content>