.logo{
    text-align: center;
    img{
        margin-top: 4rem;
        margin-bottom: 65px;
    }
}
.title{
    text-align: center;
    h2{
        font-weight: 700;
    }
}

ion-row.form-container{
    ion-col.address-col{
        height: auto !important;
    }
    ion-col{
        background: white;
        height: 48px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 20px;
        ion-row.inputContainer{
            height: 100%;
            ion-select{
                --padding-start: 5px;
            }
        }
        ion-input, ion-textarea{
            color: var(--ion-color-text);
            font-family: 'MuliSemiBold';
            font-size: 16px;
            --placeholder-color: var(--ion-color-palceholder);
        }
        ion-icon{
            padding: 9px 7px;
            background: #FAFAFA;
            border-radius: 6px;
            margin-left: 8px;
            margin-right: 16px;
            height: 14px;
            width: 18px;
        }
        ion-item{
            flex: 1;
            --background: #fff;
            --padding-start: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-select{
                max-width: 100%;
                flex: 1;
                padding-left: 0;
            }
            ion-text.agreement-txt{
                font-size: 12px;
                line-height: 1;
            }
        }
    }
    ion-col.tos{
        background: transparent;
        ion-item{
            --background: transparent;
        }
    }
}
ion-button{
    width: 100%;
    background: var(--ion-color-primary);
    span{
        font-size: 18px;
        color: #fff;
        font-family: "Bold"
    }
    
    outline: none;
}
.register{
    text-align: center;
    span{
        font-size: 13px;
        font-family: 'MuliSemiBold'; 
        color: #676767;       
        a{
            font-size: 13px;
            font-family: 'MuliSemiBold'; 
            text-decoration: none;
            color: var(--ion-color-primary);
        }
    }
}