<ion-content class="ion-padding">
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/imgs/logo.png" alt="logo" srcset="">
    </ion-col>
  </ion-row>

  <ion-row class="form-container ion-margin-bottom">

    <ion-col sizeXs="12">
      <ion-input name="frist_name" [(ngModel)]="user.frist_name" [placeholder]="traduction.placeholderFirstName"
        type="text">
        <ion-icon src="../../assets/icon/user.svg"></ion-icon>
      </ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="last_name" [(ngModel)]="user.last_name" [placeholder]="traduction.placeholderLastName"
        type="text">
        <ion-icon src="../../assets/icon/user.svg"></ion-icon>
      </ion-input>
    </ion-col>

    <ion-col sizeXs="12">
      <ion-row class="inputContainer">
        <ion-select [(ngModel)]="user.country_code" [placeholder]="traduction.code" [selectedText]="user.country_code">
          <ion-select-option *ngFor="let c of countrys" [value]="c.country_phone">{{c.country_name}}</ion-select-option>
        </ion-select>


        <ion-input name="phone" [(ngModel)]="user.phone" [placeholder]="traduction.placeholderPhone" type="phone">
          <ion-icon src="../../assets/icon/phone.svg"></ion-icon>
        </ion-input>


      </ion-row>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="email" [(ngModel)]="user.email" [placeholder]="traduction.placeholderEmail">
        <ion-icon src="../../assets/icon/email.svg"></ion-icon>
      </ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-row class="ion-align-items-center inputContainer">
        <ion-icon name="people-outline"></ion-icon>
        <ion-item lines="none">
          <ion-label style="display:none">{{traduction.placeholderGender}}</ion-label>
          <ion-select [(ngModel)]="user.gender" [placeholder]="traduction.placeholderGender">
            <ion-select-option value="1">{{traduction.mal}}</ion-select-option>
            <ion-select-option value="2">{{traduction.famel}}</ion-select-option>
            <ion-select-option value="3">{{traduction.other}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col sizeXs="12" class="address-col">
      <ion-textarea name="" id="" cols="30" rows=5 class="input-text" name="address" [(ngModel)]="user.address"
        [placeholder]="traduction.placeholderAddress">
      </ion-textarea>
    </ion-col>


    <!-- <ion-col sizeXs="12">
      <ion-input name="nationality" [(ngModel)]="user.nationality" [placeholder]="traduction.placeholderNationality" type="text"> 
        <ion-icon src="../../assets/icon/flag.svg"></ion-icon>
      </ion-input>
    </ion-col> -->
    <ion-col sizeXs="12">
      <ion-row class="ion-align-items-center inputContainer">
        <ion-icon src="../../assets/icon/globe.svg"></ion-icon>
        <ion-item lines="none">
          <ion-label style="display:none">{{traduction.placeholderCountry}}</ion-label>
          <ion-select [(ngModel)]="user.country" [placeholder]="traduction.placeholderCountry">
            <!-- <option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</option> -->
            <ion-select-option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col sizeXs="12">
      <ion-input name="password" [(ngModel)]="user.password" [placeholder]="traduction.placeholderPassword"
        type="password">
        <ion-icon src="../../assets/icon/lock.svg"></ion-icon>
      </ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="confirmePassword" [(ngModel)]="user.confirmePassword"
        [placeholder]="traduction.placeholderRetypePassword" type="password">
        <ion-icon src="../../assets/icon/lock.svg"></ion-icon>
      </ion-input>
    </ion-col>

    <ion-col sizeXs="12" class="tos">
      <ion-item>
        <ion-text *ngIf="language === 'arabic'" class="agreement-txt">{{traduction.agree}} <a
            href="https://www.easywinz.com/documents/user_agrement_ar.html">{{traduction.tos}}</a></ion-text>
        <ion-text *ngIf="language === 'english'" class="agreement-txt">{{traduction.agree}} <a
            href="https://www.easywinz.com/documents/user_agrement_en.html">{{traduction.tos}}</a></ion-text>
        <ion-checkbox slot="start" [(ngModel)]="user.tos"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>


  <!-- <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="mail-outline"></ion-icon>
      <input class="input-text" name="email" [(ngModel)]="user.email" [placeholder]="traduction.placeholderEmail" type="text">
    </ion-col>
  </ion-row>

  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="person-outline"></ion-icon>
      <input class="input-text" name="frist_name" [(ngModel)]="user.frist_name" [placeholder]="traduction.placeholderFirstName" type="text">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
      <ion-col class="grp">
        <ion-icon name="person-outline"></ion-icon>
        <input class="input-text" name="last_name" [(ngModel)]="user.last_name" [placeholder]="traduction.placeholderLastName" type="text">
      </ion-col>
    </ion-row>
 

  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="people-outline"></ion-icon>
      <select [(ngModel)]="user.gender">
        <option value="1">{{traduction.mal}}</option>
        <option value="2">{{traduction.famel}}</option>
      </select>
    </ion-col>
  </ion-row>

  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input class="input-text" name="password" [(ngModel)]="user.password" [placeholder]="traduction.placeholderPassword" type="password">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input class="input-text" name="confirmePassword" [(ngModel)]="user.confirmePassword" [placeholder]="traduction.placeholderRetypePassword" type="password">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="globe-outline"></ion-icon>
      <select [(ngModel)]="user.country">
        <option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="person-outline"></ion-icon>
      <textarea name="" id="" cols="30" rows="10" class="input-text" name="address" [(ngModel)]="user.address" [placeholder]="traduction.placeholderAddress">
      </textarea>
    </ion-col>
  </ion-row> -->
  <ion-row class="send">
    <ion-col>
      <ion-button disabled="{{user.tos ? false : true}}" color="primary" expand="full" (click)="signup()">
        <span>{{traduction.buttonRegister}}</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="register">
      <span> {{traduction.alreadyHaveAnAccount}} <a [routerLink]="['/signin']">{{traduction.loginNow}}</a> </span>
    </ion-col>
  </ion-row>
</ion-content>