ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
.radio{
    display: flex;
    justify-content: center;
    .rad{
        background: #fff;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 12px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        font-family: "Bold";
        font-size: 16px;
    }
    .rad1{
        background: #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 12px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        font-family: "Bold";
        font-size: 16px;
        color: #323232;
    }
    .active{
        background-image: linear-gradient(to right, #3045B2 , #3959FC);
        color: white;
    }
}
.card{
    position: relative;
    text-align: center;
    font-size: 12px !important;
    border-radius: 6px;
    box-shadow: 0 3px 6px #85858528;
    margin: 20px 0;
    overflow: hidden;
    background: #fff;
    .bag{
        text-align: center;
        color: white;
        background-image: linear-gradient(to right, #3045B2 , #3959FC);
        padding: 1px 0 50px 0px;
        .header{
            h3{
                font-weight: 700;
            }
            ion-text.congrats{
                font-size: 20px;
                font-family: "Bold";
                color: #fff;
            }
            ion-text.prize-name{
                font-size: 12px;
                font-family: "Reg";
                color: #fff;
                margin: 0 0 35px 0;
                display: block;
            }
        }
    }
    .avatar{
        background: gray;
        border-radius: 100%;
        height: 90px;
        width: 90px;
        margin: auto;
        position: relative;
        bottom: 50px;
        border: 2px solid white;
        .star-img{
            width: 55px;
            position: absolute;
            top: -30px;
            right: 14px;
        }
        .prize{
            position: relative;
            top: 6px;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -40px;
        p{
            margin: 0;
            font-weight: 700;
        }
        p.name{
            font-family: "Bold";
            color: var(--ion-color-text);
            font-size: 16px;
        }
        .ticket{
            color: #9E9E9E;
            font-family: "Reg";
            color: 14px;
            .num{
                color: var(--ion-color-primary);
                font-family: "Reg";
                color: 14px;
            }
        }
        .date{
            color: #9E9E9E;
            font-family: "Reg";
            color: 12px;
        }
    }
}

ion-card{
    margin: 10px 0;
    width: 100%;
    height: 380px;
    border-radius: 6px;
    box-shadow: none;
    background: #6a6a6a14;
    border: 1px solid #E5E5E5;
    padding: 9px;
    display: flex;
    flex-direction: column;
    ion-text.sold-out-badge {
        position: absolute;
        transform: rotate(-40deg);
        bottom: 25px;
        right: -25px;
        font-size: 16px;
        font-family: 'MuliSemiBold';
        text-transform: uppercase;
        background: #CE2E2E;
        width: 155px;
        text-align: center;
        color: #fff;
        z-index: 1;
    }
    .card-header{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .info-container{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .title{
                color: var(--ion-color-text);
                font-size: 16px;
                font-family: "Bold";
            }
            .price{
                color: #878787;
                font-size: 16px;
                font-family: "Bold";
            }
        }
        .corner-img{
            flex: 1;
        }
    }
    ion-text.prize-intro {
        display: flex;
        .intro{
            font-size: 12px;
            font-family: "Reg";
            color: var(--ion-color-text);
            padding-right: 3px;
        }
        .win{
            font-size: 12px;
            font-family: "Reg";
            color: var(--ion-color-text);
        }
        
    }
    div.prize{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 8px;
        ion-img{
            max-height: 135px;
        }
        ion-text{
            margin: 8px auto;
            span{
                text-align: center;
                text-overflow: ellipsis;
                width: 320px;
                display: block;
                overflow: hidden;
                font-size: 12px;
                font-family: "Bold";
                color: var(--ion-color-text);
            }
        }
    }
    
    ion-row.btns-container{
        justify-content: space-between;
        ion-col{
            ion-button.add-to-cart{
                width: 60%;
                --background: #B8B8B8;
                height: 40px;
                margin: auto;
                display: table;
                span{
                    font-family: "Bold";
                    font-size: 10px;
                    color: #fff;
                }
            }
        }
    }
  }
.products{
    display: inline-grid;
    /* grid-row-gap: 50px; */
    grid-template-columns: 50% 50%;
}
  .card2{
    margin: 8px 13px;
    padding: 7px;
    padding-top: 17px;
    border: 1px solid #c7c7c7;
    position: relative;
    border-radius: 11px;
    position: relative;
    .header{
        // display: flex;
        // height: 44%;
        .info{
            // width: 50%;
            padding-left: 7px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            .title{
                font-size: 11px;
                font-weight: 700;
                .buy{
                    color: red;
                }
            }
        }
        img{
            top: 20px;
            height: 68px;
            position: relative;
            right: 29px;
            margin-top: 9px;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        img{
            margin-top: 16px;
        }
       
        .prize{
           
        }
    }
  }

  .soon{
    margin: 18px;
    font-weight: 700;
    font-size: 16px;
  }
  .img{
    height: 86px !important;
    bottom: 27px !important;
    left: 10px !important;
    top: 4px;
    margin-bottom: 26px;
  }
  .win{
      color: red;
      font-weight: 700;
  }
  .prize{
    color: red;
    font-weight: 500;
    font-size: 11px;
  }
    .action{
        position: absolute;
        bottom: 0;
        width: 90%;
       .date{
        font-size: 12px;
        font-weight: 600;
        color: gray;
        margin-bottom: 8px;
       }
    }

.get{
    font-size: 13px;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    ion-text.title{
        font-family: "Bold";
        font-size: 20px;
        color: #000;
    }
    ion-text.desc{
        font-family: "Reg";
        font-size: 14px;
        color: #B1B1B1
    }
}