<ion-header>
  <ion-toolbar>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.winners}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="radio">
    <div class="rad" [class.border_radius_prize]="language == 'arabic'" [class.active]="tabs==0" (click)="tabs=0">
      {{traduction.winners}}
    </div>
    <div class="rad1" [class.border_radius_product]="language == 'arabic'" [class.active]="tabs==1" (click)="tabs=1">
      {{traduction.soldOut}}
    </div>
  </div>
  <ng-container *ngIf="tabs == 0">
    <div class="card" *ngFor="let item of winners">
      <div class="bag">
        <div class="header">
          <ion-text class="congrats">{{traduction.congratulations}}</ion-text>
          <ion-text class="prize-name" *ngIf="language == 'english'">{{item.prize_name_EN}}</ion-text>
          <ion-text class="prize-name" *ngIf="language == 'arabic'">{{item.prize_name_AR}}</ion-text>
          <ion-text class="prize-name" *ngIf="language == 'indian'">{{item.prize_name_IN}}</ion-text>
        </div>
      </div>
      <div class="avatar">
        <img class="star-img" src="assets/imgs/star.png" alt="">
        <img class="prize" [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+item.prize_picture" alt="">
      </div>
      <div class="body">
        <p class="name">{{item.last_name}} {{item.first_name}}</p>
        <span class="ticket">
          {{traduction.ticketNo}}
          <span class="num">
            {{item.ticket_name}}
          </span>
        </span>
        <span class="date">
          {{traduction.announced}} {{item.date_time  | date}}
        </span>
      </div>
    </div>
    <div class="empty" *ngIf="winners.length === 0">
      <ion-text class="title">
        {{traduction.emptyWinners}}
      </ion-text>
    </div>
  </ng-container>
  <ng-container *ngIf="tabs == 1">
      <ion-col  sizeXs="12" class="ion-no-padding">
        <ion-card *ngFor="let product of soldOut; let i = index">
          <ion-text class="sold-out-badge">{{traduction.soldOut}}</ion-text>
          <ion-row class="card-header">
            <ion-col sizeXs="8" class="info-container ion-no-padding">
              <span *ngIf="language == 'english'" class="title">{{product.product_name_EN}}</span>
              <span *ngIf="language == 'arabic'" class="title">{{product.product_name_AR}}</span>
              <span *ngIf="language == 'indian'" class="title">{{product.product_name_IN}}</span>
              <br>
              <!-- <span class="price">{{product.product_prise}} {{currency}}</span> -->
              <span class="price">{{traduction.soldOut}}</span>
              <ion-text class="prize-intro">
                <span class="intro">{{traduction.getachance}}</span>
                <span class="win">{{traduction.win}}</span>
              </ion-text>
            </ion-col>
            <ion-col sizeXs="4" class="corner-img ion-no-padding">
              <ion-img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main" alt=""></ion-img>
            </ion-col>
          </ion-row>
          
          <div class="prize">
            <ion-img  [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+product.prize_picture"></ion-img>
            <ion-text>
              <span *ngIf="language == 'english'" class="title">{{product.prize_name_EN}}</span>
              <span *ngIf="language == 'arabic'" class="title">{{product.prize_name_AR}}</span>
              <span *ngIf="language == 'indian'" class="title">{{product.prize_name_IN}}</span>
            </ion-text>
          </div>
          <ion-row class="btns-container">
            <ion-col sizeXs="12" class="ion-no-padding">
              <ion-button disabled class="add-to-cart" (click)="addToCart(product.product_id)">
                <span>
              
                  {{traduction.drawDate}} {{product.sold_out_date | date: 'dd MMMM yyyy'}}
               </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <div class="empty" *ngIf="soldOut.length === 0">
        <ion-text class="title">
          {{traduction.emptySoldout}}
        </ion-text>
      </div>
    <!-- <div class="products">
      <div class="card2" *ngFor="let product of soldOut; let i = index">
        <div class="header">
          <div class="info">
            <span class="title">
              <span class="buy">{{traduction.buy}}</span>
              <ng-container *ngIf="language == 'english'">
                {{product.product_name_EN}}
              </ng-container>
              <ng-container *ngIf="language == 'arabic'">
                {{product.product_name_AR}}
              </ng-container>
              <ng-container *ngIf="language == 'indian'">
                {{product.product_name_IN}}
              </ng-container>
            </span>
          </div>
           <img class="img" [class.right_0]="language == 'arabic'"
                [src]="'https://easywinz.com/admin/mobapi/User/ProductTwoPhotos/'+product.product_photo_with_two" alt="">
        </div>
        <div class="body">
          <img [src]="'https://easywinz.com/admin/mobapi/User/ProductTwoPhotos/'+product.product_photo_with_two" alt="">
          <span class="get">{{traduction.getachance}} <span class="win">{{traduction.win}}</span></span><br>
          <span class="prize" *ngIf="language == 'english'">
            {{product.prize_name_EN}}
          </span>
          <span class="prize" *ngIf="language == 'arabic'">
            {{product.prize_name_AR}}
          </span>
          <span class="prize" *ngIf="language == 'indian'">
            {{product.prize_name_IN}}
          </span>
        </div>
        <div class="action">
          <div class="date">
              Announced: 
            {{product.sold_out_date}}
          </div>
        </div>
      </div>

    </div> -->
  </ng-container>

</ion-content>