ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
ion-content{
    ion-row{
        ion-col.available{
            ion-card{
                margin: 10px 0;
                width: 100%;
                height: 388px;
                border-radius: 6px;
                box-shadow: none;
                background: #fff;
                border: 1px solid #E5E5E5;
                padding: 9px;
                display: flex;
                flex-direction: column;
                .card-header{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .info-container{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .title{
                            color: var(--ion-color-text);
                            font-size: 14px;
                            font-family: "Bold";
                        }
                        .price{
                            color: #318BF5;
                            font-size: 12px;
                            font-family: "Bold";
                        }
                    }
                    .corner-img{
                        flex: 1;
                        ion-img.corner-pic{
                            height: 50px;
                        }
                    }
                }
                ion-text.prize-intro {
                    display: flex;
                    justify-content: center;
                    .intro{
                        font-size: 10px;
                        font-family: "Reg";
                        color: var(--ion-color-text);
                        padding-right: 3px;
                    }
                    .win{
                        font-size: 10px;
                        font-family: "Reg";
                        color: var(--ion-color-red);
                    }
                    
                }
                div.prize{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-top: 8px;
                    ion-img{
                        max-height: 100px;
                    }
                    ion-text{
                        margin: 8px auto 0 auto;
                        span{
                            text-align: center;
                            text-overflow: ellipsis;
                           // width: 320px;
                            display: block;
                            overflow: hidden;
                            font-size: 12px;
                            font-family: "Bold";
                        }
                    }
                }
                div.prog{
                    div.sold{
                        display: flex;
                        justify-content: space-between;
                        font-family: "Reg";
                        font-size: 10px;
                        color: var(--ion-color-text);
                    }
                    div.progress{
                        width: 100%;
                        height: 6px;
                        background: #e1e4e8;
                        border-radius: 2px;
                        overflow: hidden;
                    }
                }
                ion-row.btns-container{
                    justify-content: space-between;
                    ion-col{
                        ion-button.details{
                            width: 95%;
                            --background: #1951A7;
                            height: 40px;
                            span{
                                font-family: "Bold";
                                font-size: 14px;
                                color: #fff;
                            }
                            
                        }
                        ion-button.add-to-cart{
                            width: 95%;
                            --background: #318BF5;
                            height: 40px;
                            float: right;
                            span{
                                font-family: "Bold";
                                font-size: 14px;
                                color: #fff;
                            }
                        }
                    }
                }
              }
          }
    }
    .empty{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        ion-text.title{
            font-family: "Bold";
            font-size: 20px;
            color: #000;
        }
        ion-text.desc{
            font-family: "Reg";
            font-size: 14px;
            color: #B1B1B1
        }
    }
}
.products{
    display: inline-grid;
    /* grid-row-gap: 50px; */
    grid-template-columns: 50% 50%;
    margin-top: 34px;
}
  .card2{
    margin: 8px 13px;
    padding: 7px;
    padding-top: 17px;
    border: 1px solid #c7c7c7;
    position: relative;
    border-radius: 11px;
    position: relative;
    .header{
        // display: flex;
        // height: 44%;
        .info{
            // width: 50%;
            padding-left: 7px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            .title{
                font-size: 11px;
                font-weight: 700;
                margin-top: 10px;
                .buy{
                    color: red;
                }
            }
            .like{
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: 26px;
            }
            .price{
                color: #1466f7;
                font-size: 11px;
                position: absolute;
                right: 0;
                top: 0;
                background: blue;
                color: white;
                padding: 4px;
                border-top-right-radius: 5px;
            }
        }
        img{
            top: 20px;
            height: 68px;
            position: relative;
            right: 29px;
            margin-top: 9px;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 34px;
        img{
            margin-top: 16px;
        }
       
        .prize{
           
        }
    }
  }

  .soon{
    margin: 18px;
    font-weight: 700;
    font-size: 16px;
  }
  .img{
    height: 86px !important;
    bottom: 27px !important;
    left: 10px !important;
    top: 4px;
    margin-bottom: 26px;
  }
  .win{
      color: red;
      font-weight: 700;
  }
  .prize{
    color: red;
    font-weight: 500;
    font-size: 11px;
  }
    .action{
        margin-top: 15px;
        position: absolute;
        bottom: 0;
        width: 90%;
        text-align: center;
        .b-add{
            background: #008aca;
            color: white;
            font-size: 21px;
            border-radius: 100%;
            padding: 4px;
        }
    }
    .prog{  
        margin: 17px 2px 8px 2px;
        .sold{
            text-align: center;
            margin-bottom: 4px;
            font-size: 10px;
            span{
                font-weight: 600;
            }
            .sp1{
                float: left;
            }
            .sp3{
                float: right;
            }
        }
        .progress{
            width: 100%;
            height: 5px;
            background: #e1e4e8;
            border-radius: 3px;
            overflow: hidden;
        }

    }
.get{
    font-size: 13px;
}