<ion-header>
  <ion-toolbar>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.wishList}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col sizeXs="12" class="ion-no-padding available">
      <ion-card *ngFor="let product of products; let i = index">
        <ion-row class="card-header">
          <ion-col sizeXs="8" class="info-container ion-no-padding">
            <span (click)="goToProductDetails(product.product_id,0)" *ngIf="language == 'english'" class="title">{{product.product_name_EN}}</span>
            <span (click)="goToProductDetails(product.product_id,0)" *ngIf="language == 'arabic'" class="title">{{product.product_name_AR}}</span>
            <span (click)="goToProductDetails(product.product_id,0)" *ngIf="language == 'indian'" class="title">{{product.product_name_IN}}</span>
            <br>
            <span class="price">{{(product.product_prise*rate).toFixed(2)}} {{currency}}</span>
            <br>
            <ion-icon 
             
              (click)="deleteLike(product.product_id)"  
              src="../../assets/icon/delete-from-favourites.svg"
             
            >
            </ion-icon>
            
           
            <!-- <ion-icon *ngIf="!product.productlike" (click)="addLike(product.product_id)" src="../../assets/icon/wish-heart.svg"></ion-icon>
            <ion-icon *ngIf="product.productlike" style="fill: red;" (click)="deleteLike(product.product_id)" src="../../assets/icon/wish-heart.svg"></ion-icon> -->
          </ion-col>
          <ion-col sizeXs="4" class="corner-img ion-no-padding" >
            <ion-img class="corner-pic" (click)="goToProductDetails(product.product_id,0)" [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main" alt=""></ion-img>
          </ion-col>
        </ion-row>
        <div class="prize" (click)="goToProductDetails(product.product_id,0)">
          <ion-img  [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+product.prize_picture"></ion-img>
          <ion-text class="prize-intro">
            <span class="intro">{{traduction.getachance}}</span>
            <span class="win">{{traduction.win}}</span>
          </ion-text>
          <ion-text>
            <span *ngIf="language == 'english'" class="title">{{product.prize_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="title">{{product.prize_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="title">{{product.prize_name_IN}}</span>
          </ion-text>
        </div>
        <div class="prog">
          <div class="sold">
            <span [class.sp2]="language == 'arabic'"
              [class.sp1]="language != 'arabic'">{{product.sold_amount}}</span>
            <span>{{traduction.soldOf}}</span>
            <span [class.sp1]="language == 'arabic'"
              [class.sp2]="language != 'arabic'">{{product.total_amount}}</span>
          </div>
          <div class="progress">
            <span class="progress-bar"
              [class.class-0-50]="50 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 0"
              [class.class-50-75]="75 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 50"
              [class.class-75-100]="100 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 75"
              [style]="'width:'+(product.sold_amount * 100)/ product.total_amount+'%'"></span>
          </div>
        </div>
        <ion-row class="btns-container">
          <ion-col sizeXs="12" class="ion-no-padding">
            <ion-button class="add-to-cart" (click)="addToCart(product.product_id)">
              <span>
                {{traduction.addToCart}}
              </span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>



  <!-- <div class="products">
    <div class="card2" *ngFor="let product of products; let i = index">
      <div class="header" (click)="goToProductDetails(product.product_id,0)">
        <div class="info">
          <span class="title">
            <span class="buy">{{traduction.buy}}</span>
            <ng-container *ngIf="language == 'english'">
              {{product.product_name_EN}}
            </ng-container>
            <ng-container *ngIf="language == 'arabic'">
              {{product.product_name_AR}}
            </ng-container>
            <ng-container *ngIf="language == 'indian'">
              {{product.product_name_IN}}
            </ng-container>
          </span>
          <span class="price">{{product.product_prise}} {{currency}}</span>
        </div>
      </div>
      <div class="body" (click)="goToProductDetails(product.product_id,0)">
        <img [src]="'https://easywinz.com/admin/mobapi/User/ProductTwoPhotos/'+product.product_photo_with_two" alt="">
        <span>{{traduction.getachance}} <span class="win">{{traduction.win}}</span></span><br>
        <span class="prize" *ngIf="language == 'english'">
          {{product.prize_name_EN}}
        </span>
        <span class="prize" *ngIf="language == 'arabic'">
          {{product.prize_name_AR}}
        </span>
        <span class="prize" *ngIf="language == 'indian'">
          {{product.prize_name_IN}}
        </span>
        <div class="prog">
          <div class="sold">
              <span [class.sp2]="language == 'arabic'" [class.sp1]="language != 'arabic'">{{product.sold_amount}}</span>
              <span>{{traduction.soldOf}}</span>
              <span [class.sp1]="language == 'arabic'" [class.sp2]="language != 'arabic'">{{product.total_amount}}</span>
          </div>
          <div class="progress">
            <span class="progress-bar"
              [class.class-0-50]="50 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 0"
              [class.class-50-75]="75 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 50"
              [class.class-75-100]="100 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 75"
              [style]="'width:'+(product.sold_amount * 100)/ product.total_amount+'%'"></span>
          </div>
        </div>
      </div>
      <div class="action">
          <ion-icon class="b-add" name="basket-outline"  (click)="addToCart(product.product_id)">
            </ion-icon>
      </div>
    </div>

  </div> -->
  <div class="empty" *ngIf="products.length == 0">
    <ion-text class="title">
      {{traduction.emptyFavourites}}
    </ion-text>
    <ion-text class="desc">
      {{traduction.emptyFavourites2}}
    </ion-text>
  </div>
</ion-content>