<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">{{traduction.tickets}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let item of tickets;">
    <ion-col>
      <div class="card">
        <div class="sec1">
          <div class="name">
            <span *ngIf="language == 'english'" class="prize">{{item.prize_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="prize">{{item.prize_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="prize">{{item.prize_name_IN}}</span>
            <br>
            <span *ngIf="language == 'english'" class="product">Product: {{item.product_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="product">Product: {{item.product_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="product">Product: {{item.product_name_IN}}</span>
          </div>
          <img [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+item.prize_picture" alt="">
        </div>

        <div class="num">
          <span> <strong>{{traduction.ticketNumber}}</strong>
            <ng-container class="n">{{item.ticket_name}}</ng-container>
          </span>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div class="empty" *ngIf="tickets.length == 0">
    <ion-text class="title">
      {{traduction.emptyTickets}}
    </ion-text>
    <ion-text class="desc">
      {{traduction.emptyTickets2}}
    </ion-text>
  </div>
</ion-content>