.card{
    margin: 19px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    .sec1{
        text-align: center;
        .name{
            padding: 16px 0 8px 0;
            font-size: 12px;
            .prize{
                font-weight: 700;
            }
            .product{
                color: #9c9c9c;
            }
        }
        img{
            padding: 0px 72px 1px 72px;
        }
    }
    .num{
        padding: 15px 0 20px 0;
        width: 100%;
        text-align: center;
        span{
            padding: 5px; 
            width: 100%;
            font-size: 0.6rem;
            background: #e4e4e4;
            border-radius: 25px;
            padding: 7px 10px;
            .n{
                color: blue;
            }
        }
    }
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    ion-text.title{
        font-family: "Bold";
        font-size: 20px;
        color: #000;
    }
    ion-text.desc{
        font-family: "Reg";
        font-size: 14px;
        color: #B1B1B1
    }
}