<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title  slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.productDetails}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="radio">
    <div class="rad" [class.border_radius_prize]="language == 'arabic'" [class.active]="tabs==0" (click)="tabs=0">
      {{traduction.prizeDetails}}
    </div>
    <div class="rad1" [class.border_radius_product]="language == 'arabic'" [class.active]="tabs==1" (click)="tabs=1">
      {{traduction.productdetails}}
    </div>
  </div>
  <div class="card" *ngIf="tabs==0">
    <div class="header">
      <div class="action">
        <ion-icon 
          [style]="liked? 'fill: red;' : 'fill: black;'" 
          (click)="liked ? deleteLike(product.product_id) : addLike(product.product_id)"  
          src="../../assets/icon/wish-heart.svg">
        </ion-icon>


        <!-- <ion-icon *ngIf="!liked" (click)="addLike(product.product_id)"  src="../../assets/icon/wish-heart.svg"></ion-icon>
        <ion-icon *ngIf="liked" style="fill: red;" (click)="deleteLike(product.product_id)" src="../../assets/icon/wish-heart.svg"></ion-icon> -->
        <ion-icon name="share-social-outline"></ion-icon>
      </div>
      <!-- <div class="prog">
        <div class="sold">
          <span class="sp1">{{product.sold_amount}}</span>
          <span>sold of</span>
          <span class="sp3">{{product.total_amount}}</span>
        </div>
        <div class="progress">
          <span class="progress-bar" [style]="'width:'+perc+'%'"></span>
        </div>
      </div> -->
    </div>
    <div class="img">
      <img [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+product.prize_picture" alt="">
      <p class="intro">{{traduction.getachance}} <span class="win">{{traduction.win}}</span></p>
      
      <ion-text *ngIf="language == 'english'" class="prize-name">{{product.prize_name_EN}}</ion-text>
      <ion-text *ngIf="language == 'arabic'" class="prize-name">{{product.prize_name_AR}}</ion-text>
      <ion-text *ngIf="language == 'indian'" class="prize-name">{{product.prize_name_IN}}</ion-text>

      <ion-text *ngIf="language == 'english'" class="desc">{{product.prize_detail_EN}}</ion-text>
      <ion-text *ngIf="language == 'arabic'" class="desc">{{product.prize_detail_AR}}</ion-text>
      <ion-text *ngIf="language == 'indian'" class="desc">{{product.prize_detail_IN}}</ion-text>
    </div>
  </div>

  <div class="card" *ngIf="tabs==1">
    <div class="header">
      <div class="action">
        <ion-icon 
          [style]="liked ? 'fill: red;' : 'fill: black;'" 
          (click)="liked ? deleteLike(product.product_id) : addLike(product.product_id)"  
          src="../../assets/icon/wish-heart.svg">
        </ion-icon>
        <!-- <ion-icon *ngIf="!product.productlike" (click)="addLike(product.product_id)" src="../../assets/icon/wish-heart.svg"></ion-icon>
        <ion-icon *ngIf="product.productlike" style="fill: red;" (click)="deleteLike(product.product_id)" src="../../assets/icon/wish-heart.svg"></ion-icon> -->
        <ion-icon name="share-social-outline"></ion-icon>
      </div>
      <div class="prog">
        <div class="sold">
          <span [class.sp2]="language == 'arabic'" [class.sp1]="language != 'arabic'">{{product.sold_amount}}</span>
          <span>{{traduction.soldOf}}</span>
          <span [class.sp1]="language == 'arabic'" [class.sp2]="language != 'arabic'">{{product.total_amount}}</span>
        </div>
        <div class="progress">
          <span class="progress-bar"
            [class.class-0-50]="50 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 0"
            [class.class-50-75]="75 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 50"
            [class.class-75-100]="100 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 75"
            [style]="'width:'+(product.sold_amount * 100)/ product.total_amount+'%'"></span>
        </div>
      </div>
    </div>
    <div class="img">
      <img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main" alt="">
      <ion-text *ngIf="language == 'english'" class="product-name">{{product.product_name_EN}}</ion-text>
      <ion-text *ngIf="language == 'arabic'" class="product-name">{{product.product_name_AR}}</ion-text>
      <ion-text *ngIf="language == 'indian'" class="product-name">{{product.product_name_IN}}</ion-text>

      <ion-text class="product-price">{{(product.product_prise*rate).toFixed(2)}} {{currency}}</ion-text>


      <ion-text *ngIf="language == 'english'" class="desc">{{product.product_detail_EN}}</ion-text>
      <ion-text *ngIf="language == 'arabic'" class="desc">{{product.product_detail_AR}}</ion-text>
      <ion-text *ngIf="language == 'indian'" class="desc">{{product.product_detail_IN}}</ion-text>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="total">
    <div class="gt">
      <p *ngIf="language == 'english'" class="GT">{{traduction.buy}} {{product.product_name_EN}} {{traduction.for}}</p>
      <p *ngIf="language == 'arabic'" class="GT">{{traduction.buy}} {{product.product_name_AR}} {{traduction.for}}</p>
      <p *ngIf="language == 'indian'" class="GT">{{traduction.buy}} {{product.product_name_IN}} {{traduction.for}}</p>
      <p [class.left_0]="language == 'arabic'" [class.usd]="language != 'arabic'">{{currency}} {{(product.product_prise*rate).toFixed(2)}}</p>
    </div>
    <p class="inclusive">{{traduction.inclusive}}</p>
    <ion-button (click)="addToCart(product.product_id)">
      <span>
        {{traduction.addToCart}}
      </span>
    </ion-button>
  </div>
</ion-footer>