ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
ion-content{
    --background: #FFF;
.radio{
        display: flex;
        justify-content: center;
        .rad{
            background: #F6F6F6;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            font-size: 12px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55px;
            font-family: "Bold";
            font-size: 16px;
        }
        .rad1{
            background: #F6F6F6;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            font-size: 12px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55px;
            font-family: "Bold";
            font-size: 16px;
            color: #323232;
        }
        .active{
            background-image: linear-gradient(to right, #3045B2 , #3959FC);
            color: white;
        }
}

ion-text.prize-name, ion-text.product-name, p.intro, span.win{
    font-family: "Bold";
    color: var(--ion-color-title-no-opacity);
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}
span.win{
    margin-left: 5px;
}
ion-text.prize-name, span.win{
    color: var(--ion-color-red);
}
ion-text.desc{
    font-family: "Reg";
    color: var(--ion-color-text);
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
}
ion-text.product-price{
    font-family: "Bold";
    color: #318BF5;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}
}
.total{
    background: #F2F2F2;
    padding: 10px;
    margin: 2px 9px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    text-align: center;
    margin-bottom: 30px;
    .gt{
        display: flex;
        position: relative;
        height: 12px;
        p{
            margin: 0px 0 7px 0;
            font-family: 'MuliSemiBold';
            color: var(--ion-color-title-no-opacity);
            font-size: 16px;
        }
        .usd{
            position: absolute;
            right: 0;
        }
    }
    ion-button{
        width: 100%;
        height: 48px;
        border-radius: 7px;
        background: var(--ion-color-primary);
        span{
            text-transform: uppercase;
            color: #FFF;
            font-family: "Bold";
            font-size: 18px;
        }
    }
    p.inclusive{
        font-family: "Reg";
        color: var(--ion-color-title-no-opacity);
        text-align: left;
        font-size: 12px;
    }
}

.card{
    .header{
        display: flex;
        .action{
            padding: 8px 9px;
            font-size: 33px;
            ion-icon{
                width: 19px;
                padding-right: 7px;
            }
        }
        .prog{  
            margin: 10px 12px 0 auto;
            .sold{
                width: 138px;
                text-align: center;
                margin-bottom: 4px;
                font-size: 12px;
                span{
                    font-weight: 600;
                }
                .sp1{
                    float: left;
                }
                .sp3{
                    float: right;
                }
            }
        }
    }
    .img{
        img{
            width: 100px;
            margin: auto;
            display: block;

        }
        .desc{
            padding: 20px;
            color: gray;
            font-size: 12px;
            text-align: justify;
        }
    }
}
.progress {
    height: 5px;
}
