<ion-content class="ion-padding">
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/imgs/logo.png" alt="logo" srcset="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="title text-center">
      <ion-text class="title">{{traduction.textReset}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <input class="input-text" placeholder="● ● ● ● ●" [(ngModel)]="verification_code" type="text">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text class="ion-justify-content-center">{{traduction.didntGetCode}} <a (click)="resendVerificationCode()">{{traduction.resend}}</a></ion-text>
  </ion-row>
  <ion-row class="send">
    <ion-col>
      <!-- <button color="primary" expand="full" (click)="send()">{{traduction.reset}}
      </button> -->
      <ion-button (click)="send()">
        <span>
          {{traduction.activate}}
        </span>
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col class="register">
      <span> Don't have an account? <a [routerLink]="['/signup']">Register now</a> </span>
    </ion-col>
  </ion-row> -->
</ion-content>