
ion-tab-bar{
    height: 64px;
    --background: #fff;
    background-color: transparent  !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    .home-icon{
        background: blue;
        padding: 12px;
        border-radius: 100%;
        height: 33px;
        width: 33px;
        /* font-size: 12px; */
        position: fixed;
        bottom: 15px;
        z-index: 9999999;
        color: white;
    }
    .cart{
        .badge{
            position: absolute;
            background: var(--ion-color-primary);
            color: white;
            border-radius: 100%;
            top: 8px;
            padding: 3px;
            right: 2px;
            height: 18px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }
}
ion-fab {
    bottom: 15px;
    left: 0;
    right: 0;
    width: 80px;
    height: 50px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 15px solid whitesmoke;
    border-top: 0;
    margin: auto;
    outline: 0 !important;
    :focus{
        outline: 0 !important;
    }
    ion-fab-button {
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        :focus{
            outline: 0 !important;
        }
        ion-icon.home-icon{
            position: absolute;
            height: 100%;
            top: -10px;
        }
    }
}
ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {

    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 0;
    font-size: 12px;
    left: 3px;
    bottom: 10px;
    color: white;
  }