<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="winners">
      <ion-icon src="../../assets/icon/winners.svg"></ion-icon>
      <ion-label>{{traduction.winners}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-icon src="../../assets/icon/heart.svg"></ion-icon>
      <ion-label>{{traduction.favorite}}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="home">
      <ion-icon class="home-icon" src="../../assets/icon/home.svg"></ion-icon>
      <ion-label>{{traduction.home}}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button></ion-tab-button>

    <ion-tab-button class="cart" tab="cart">
      <span class="badge">{{pNbr}}</span>
      <ion-icon src="../../assets/icon/cart.svg"></ion-icon>
      <ion-label>{{traduction.titleCart}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="../../assets/icon/profile.svg"></ion-icon>
      <ion-label>{{traduction.profile}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false" routerLink="/tabs/home">
  <ion-fab-button type="button">
    <ion-icon class="home-icon" src="../../assets/icon/home.svg"> </ion-icon>
    <ion-label style="margin-top: 20px;font-size: 12px;">{{traduction.home}}</ion-label>
  </ion-fab-button>
</ion-fab>



<!-- <ion-tabs #tabs>
  <fiv-app-bar slot="bottom" [titleMode]="titleMode" #bar>
    <fiv-fab [fivAppBarFab]="position" #fab>
      <fiv-icon name="color-wand"></fiv-icon>
    </fiv-fab>

    <fiv-app-bar-tab left tab="tab1" href="/tab1">
      <fiv-icon name="md-home"></fiv-icon>
      <ion-label>Home</ion-label>
    </fiv-app-bar-tab>
    <fiv-app-bar-tab left tab="tab2" href="/tab2">
      <fiv-icon name="md-images"></fiv-icon>
      <ion-label>Images</ion-label>
    </fiv-app-bar-tab>
    <fiv-app-bar-tab right tab="tab3" href="/tab3">
      <fiv-icon [badge]="1" name="md-pizza"></fiv-icon>
      <ion-label>Pizza</ion-label>
    </fiv-app-bar-tab>
    <fiv-app-bar-tab right tab="tab4" href="/tab4" icon="md-more">
      <fiv-icon name="md-more"></fiv-icon>
      <ion-label>More</ion-label>
    </fiv-app-bar-tab>
  </fiv-app-bar>
</ion-tabs> -->