
ion-content{
    ion-row{
        ion-col{
            ion-text.title{
                font-family: "Bold";
                font-size: 24px;
                color: var(--ion-color-title);
            }
        }
    }
    ion-row.input-container {
        background: white;
        height: 48px;
        width: 100%;
        border-radius: 6px;
        ion-input{
            color: var(--ion-color-text);
            font-family: 'MuliSemiBold';
            font-size: 14px;
            --placeholder-color: var(--ion-color-palceholder);
        }
        ion-icon{
            padding: 9px 7px;
            background: #FAFAFA;
            border-radius: 6px;
            margin-left: 8px;
            margin-right: 16px;
            height: 14px;
            width: 18px;
        }
    }
    ion-row.send{
        ion-button{
            width: 100%;
            background: var(--ion-color-primary);
            height: 48px;
            span{
                font-size: 18px;
                color: #fff;
                font-family: "Bold"
            }
        }
    }
    ion-row{
        ion-col.register{
            span{
                font-family: "Bold";
                font-size: 13px;
                color: #676767;
                a{
                    font-family: "Bold";
                    font-size: 13px;
                    color: var(--ion-color-primary);
                    text-transform: capitalize;
                }
            }
        }
    }
}
.logo{
    text-align: center;
    img{
        width: 74%;
        margin-top: 4rem;
    }
}
.title{
    text-align: center;
    h2{
        font-weight: 700;
    }
}
.rw{
    margin: 24px;
    .grp{
        display: flex;
        ion-icon{
            color: gray;
            background: rgba(218, 218, 218, 0.44);
            padding: 3px;
            border-radius: 4px;
        }
        .input-text{
            padding: 5px;
            margin-left: 20px;
            border: none;
            outline: none;
        }
    }
}

.send{
    button{
        width: 88%;
        padding: 14px;
        border-radius: 5px;
        background: #3045b2;
        color: white;
        margin: 50px 17px 20px 17px;
        font-size: 17px;
        font-weight: 700;
        outline: none;
    }
}
.register{
    text-align: center;
    span{
        font-size: 11px;
        font-weight: 700;
        a{
            text-decoration: none;
            color: #3045b2;
        }
    }
}
