<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-left">{{traduction.how_it_work}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col class="text">
      <iframe width="420" height="315" [src]="setting.how_it_work_youtube_link">
      </iframe>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <video width="100%" fullscreen="fullscreen" autoplay="true" controls>
      <source src="https://www.easywinz.com/documents/easywinz_how_work_video.mp4" type="video/mp4">
    </video>
    <!-- <ion-col class="text">
      <p *ngIf="language == 'english'">{{setting.how_it_work_en}}</p>
      <p *ngIf="language == 'arabic'">{{setting.how_it_work_ar}}</p>
      <p *ngIf="language == 'indian'">{{setting.how_it_work_in}}</p>
    </ion-col> -->
  </ion-row>
</ion-content>