<ion-header>
  <ion-toolbar>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.titleCart}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row  *ngFor="let product of products; let i = index" class="ion-margin">
    <ion-col sizeXs="3">
      <ion-img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main"></ion-img>
    </ion-col>
    <ion-col sizeXs="9">
      <ion-label class="label" *ngIf="language == 'english'">{{traduction.prize}}:  {{product.prize_name_EN}}</ion-label>
      <ion-label class="label" *ngIf="language == 'arabic'">{{product.prize_name_AR}}</ion-label>
      <ion-label class="label" *ngIf="language == 'indian'">{{product.prize_name_IN}}</ion-label>

      <ion-label class="label product-name" *ngIf="language == 'english'">{{product.product_name_EN}}</ion-label>
      <ion-label class="label product-name" *ngIf="language == 'arabic'">{{product.product_name_AR}}</ion-label>
      <ion-label class="label product-name" *ngIf="language == 'indian'">{{product.product_name_IN}}</ion-label>

      <!-- <ion-text class="desc">{{traduction.textCard}}</ion-text> -->
      <ion-text class="price">{{(product.product_prise*rate).toFixed(2)}} {{currency}}</ion-text>
      <ion-text class="tickets">
        <span class="tickets-count">{{product.tickets_of_it}}</span> 
        <span class="tickets-text">{{traduction.tickets}}</span> 
        <span class="unit">{{traduction.perUnit}}</span>
      </ion-text>
      <ion-row class="action-row">
        <ion-icon class="trash" name="trash-outline" (click)="deleteFromCart(i)"></ion-icon>
        <div class="qty">
          <span class="m">
            <ion-icon name="remove-outline" (click)="dec(i)"></ion-icon>
          </span>
          {{product.cart_amount}}
          <span class="p">
            <ion-icon name="add-outline" (click)="inc(i)"></ion-icon>
          </span>
        </div>
      </ion-row>
    </ion-col>



    <!-- <ion-col sizeXs="12">
      <ion-img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main"></ion-img>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-text class="price">{{product.product_prise}} {{currency}}</ion-text>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-label class="label" *ngIf="language == 'english'">{{product.product_name_EN}}</ion-label>
      <ion-label class="label" *ngIf="language == 'arabic'">{{product.product_name_AR}}</ion-label>
      <ion-label class="label" *ngIf="language == 'indian'">{{product.product_name_IN}}</ion-label>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-text class="desc">{{traduction.textCard}}</ion-text>
    </ion-col>
    <ion-col sizeXs="12">
      <div class="qty">
        <span class="m">
          <ion-icon name="remove-outline" (click)="dec(i)"></ion-icon>
        </span>
        {{product.cart_amount}}
        <span class="p">
          <ion-icon name="add-outline" (click)="inc(i)"></ion-icon>
        </span>
      </div>
    </ion-col> -->
  </ion-row>


  <!-- <div class="item" *ngFor="let product of products; let i = index">
    <span class="avatar" slot="start">
      <img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main">
    </span>
    <div class="body">
      <ion-label class="label" *ngIf="language == 'english'">{{product.product_name_EN}}</ion-label>
      <ion-label class="label" *ngIf="language == 'arabic'">{{product.product_name_AR}}</ion-label>
      <ion-label class="label" *ngIf="language == 'indian'">{{product.product_name_IN}}</ion-label>
      <br>
      <div class="text">{{traduction.textCard}}
      </div>
      <span class="price">{{product.product_prise}} {{currency}}</span>
    </div>
    <div class="qty">
      <span class="m">
        <ion-icon name="remove-outline" (click)="dec(i)"></ion-icon>
      </span>
      {{product.cart_amount}}
      <span class="p">
        <ion-icon name="add-outline" (click)="inc(i)"></ion-icon>
      </span>
    </div>
    <span class="delete" item-right>
      <ion-icon name="trash-outline"  (click)="deleteFromCart(i)"></ion-icon>
    </span>
  </div> -->



  <!-- <div class="card" *ngFor="let product of products; let i = index">
    <div class="delete" (click)="deleteFromCart(product.product_id)">
      <ion-icon name="trash-outline"></ion-icon>
    </div>
    <img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main" alt="">
    <span class="price">{{product.product_prise}} {{currency}}</span>
    <span *ngIf="language == 'english'" class="title">{{product.product_name_EN}}</span>
    <span *ngIf="language == 'arabic'" class="title">{{product.product_name_AR}}</span>
    <span *ngIf="language == 'indian'" class="title">{{product.product_name_IN}}</span>
    <div class="text">{{traduction.textCard}}
    </div>
    <div class="qty">
      <span class="m">
        <ion-icon name="remove-outline" (click)="dec(i)"></ion-icon>
      </span>
      {{product.cart_amount}}
      <span class="p">
        <ion-icon name="add-outline" (click)="inc(i)"></ion-icon>
      </span>
    </div>
  </div> -->
  <div class="empty" *ngIf="products.length == 0">
    <ion-text class="title">
      {{traduction.empty1}}
    </ion-text>
    <ion-text class="desc">
      {{traduction.empty2}}
    </ion-text>
  </div>
</ion-content>

<ion-footer *ngIf="products.length > 0" class="ion-no-border">
  <div class="total">
    <div class="gt">
      <p class="GT">{{traduction.grandTotal}}</p>
      <p [class.left_0]="language == 'arabic'" [class.usd]="language != 'arabic'">{{currency}} {{total.toFixed(2)}}</p>
    </div>
    <p class="inclusive">{{traduction.inclusive}}</p>
    <!-- <button (click)="toPayment()">{{traduction.ProceedToPayment}}</button> -->
    <ion-button (click)="toPayment()">
      <span>
        {{traduction.ProceedToPayment}}
      </span>
    </ion-button>
  </div>

</ion-footer>