ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
ion-content{
    ion-row{
        background: #FFF;
        border-radius: 6px;
        ion-col{
            ion-img{
               height: 100%;
            }
            ion-text.price{
                font-family: "Bold";
                color: #318BF5;
                font-size: 16px;
                //text-align: center;
                display: flex;
                //justify-content: center;
            }
            ion-label{
                font-family: "Bold";
                color: var(--ion-color-text);
                font-size: 16px;
                //text-align: center;
                display: flex;
                //justify-content: center;
                line-height: 23px;
            }
            ion-label.product-name{
                font-family: "Reg";
            }
            ion-text.desc, ion-text.tickets{
                font-family: "Reg";
                color: var(--ion-color-text);
                font-size: 14px;
                line-height: 23px;
                //text-align: center;
                display: flex;
                //justify-content: center;
                span.tickets-count {
                    background: var(--ion-color-primary);
                    border-radius: 3px;
                    color: white;
                    text-align: center;
                    padding: 0 5px;
                }
                span.tickets-text{
                    font-family: "Reg";
                    color: #318BF5;
                    font-size: 16px;
                    //text-align: center;
                    display: flex;
                    padding: 0 5px;
                }
                span.unit{
                    font-family: "Reg";
                    color: var(--ion-color-text);
                    font-size: 16px;
                    display: flex;
                    padding: 0 5px;
                }
            }
            ion-row.action-row{
                justify-content: space-between;
                align-items: center;
                ion-icon.trash{
                    font-size: 18px;
                    color: red;
                }
                .qty{
                    background: #ececec;
                    padding: 7px;
                    width: 86px;
                    border-radius: 3px;
                    margin-top: 0;
                    color: #565656;
                    text-align: center;
                    font-size: 16px;
                    //margin: auto;
                    .m{
                        float: left;
                    }
                    .p{
                        float: right;
                    }
                }
            }
            
        }
    }
}

ion-footer{
    background: whitesmoke !important;

}


.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    margin: 15px 13px 5px 13px;
    &:first-child{
        padding-top: 22px;
    }
    &:last-child{
        padding-bottom: 22px;
    }
    .avatar{
        height: 56px;
        width: 92px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .body{
        .label{
            font-size: 14px;
            margin: 0 8px;
        }
        .text{
            font-size: 11px;
            margin: 0 8px;
        }
        .price{
            font-weight: 700;
            font-size: 13px;
            color: blue;
            margin: 0 8px;
        }
    }
}

.total{
    background: #F2F2F2;
    padding: 10px;
    margin: 2px 9px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    text-align: center;
    margin-bottom: 30px;
    .gt{
        display: flex;
        position: relative;
        height: 12px;
        p{
            margin: 0px 0 7px 0;
            font-family: 'MuliSemiBold';
            color: var(--ion-color-title-no-opacity);
            font-size: 16px;
        }
        .usd{
            position: absolute;
            right: 0;
        }
    }
    ion-button{
        width: 100%;
        height: 48px;
        border-radius: 7px;
        background: var(--ion-color-primary);
        span{
            text-transform: uppercase;
            color: #FFF;
            font-family: "Bold";
            font-size: 18px;
        }
    }
    p.inclusive{
        font-family: "Reg";
        color: var(--ion-color-title-no-opacity);
        text-align: left;
        font-size: 12px;
    }
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    ion-text.title{
        font-family: "Bold";
        font-size: 20px;
        color: #000;
    }
    ion-text.desc{
        font-family: "Reg";
        font-size: 14px;
        color: #B1B1B1
    }
}
.delete{
    ion-icon{
        color: red !important;
        font-size: 18px;
    }
}
