<ion-header>
  <ion-toolbar>
    <ion-title  class="ion-text-left">shipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/imgs/logo.png" alt="logo" srcset="">
    </ion-col>
  </ion-row>

  <ion-row class="form-container ion-margin-bottom">
    <ion-col sizeXs="12">
      <ion-input  name="full_name" [(ngModel)]="shippingInfo.full_name" [placeholder]="traduction.placeholderFullName"  type="text"></ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="address1" [(ngModel)]="shippingInfo.address1" [placeholder]="traduction.placeholderAddress1" type="text"></ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="address2" [(ngModel)]="shippingInfo.address2" [placeholder]="traduction.placeholderAddress2" type="text"></ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="city" [(ngModel)]="shippingInfo.city" [placeholder]="traduction.placeholderCityTown" type="text"></ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="zip" [(ngModel)]="shippingInfo.zip" [placeholder]="traduction.placeholderZipCode" type="text"></ion-input>
    </ion-col>

    <ion-col  sizeXs="12">
      <ion-row class="ion-align-items-center">
        <ion-item lines="none">
          <ion-label style="display:none">{{traduction.placeholderCountry}}</ion-label>
          <ion-select [(ngModel)]="shippingInfo.country" [placeholder]="traduction.placeholderCountry">
            <ion-select-option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-item lines="none">
    <ion-label>{{traduction.saveThisAddresse}}</ion-label>
    <ion-checkbox slot="start" mode="ios"></ion-checkbox>
  </ion-item>

</ion-content>

<ion-footer *ngIf="!check" class="ion-no-border">
  <div class="total">
    <div class="gt">
      <p class="GT">{{traduction.grandTotal}}</p>
      <p  [class.left_0]="language == 'arabic'" [class.usd]="language != 'arabic'">{{currency}} {{total}}</p>
    </div>
    <p class="inclusive">{{traduction.inclusive}}</p>
    <!-- <button (click)="validatePayment()">{{traduction.payNow}}</button> -->
    <ion-button (click)="validatePayment()">
      <span>
        {{traduction.payNow}}
      </span>
    </ion-button>
  </div>
</ion-footer>
