.logo{
    text-align: center;
    img{
        margin-top: 4rem;
        margin-bottom: 65px;
    }
}
.title{
    text-align: center;
    h2{
        font-weight: 700;
    }
}

ion-row.form-container{
    ion-col{
        background: white;
        height: 48px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 20px;
        ion-input{
            color: var(--ion-color-text);
            font-family: 'Bold';
            font-size: 16px;
            --placeholder-color: var(--ion-color-palceholder);
        }
        ion-icon{
            padding: 9px 7px;
            background: #FAFAFA;
            border-radius: 6px;
            margin-left: 8px;
            margin-right: 16px;
            height: 14px;
            width: 18px;
        }
        ion-item{
            flex: 1;
            flex: 1;
            --background: #fff;
            --padding-start: 0;
            ion-select{
                max-width: 100%;
                flex: 1;
                padding-left: 0;
            }
        }
    }
}
ion-label{
    white-space: pre-wrap !important;
}
ion-button{
    width: 100%;
    background: var(--ion-color-primary);
    span{
        font-size: 18px;
        color: #fff;
        font-family: "Bold"
    }
    
    outline: none;
}
.register{
    text-align: center;
    span{
        font-size: 13px;
        font-family: 'MuliSemiBold'; 
        color: #676767;       
        a{
            font-size: 13px;
            font-family: 'MuliSemiBold'; 
            text-decoration: none;
            color: var(--ion-color-primary);
        }
    }
}

ion-footer{
    background: whitesmoke !important;
    .total{
        background: #F2F2F2;
        padding: 10px;
        margin: 2px 9px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #E5E5E5;
        text-align: center;
        margin-bottom: 60px;
        .gt{
            display: flex;
            position: relative;
            height: 12px;
            p{
                margin: 0px 0 7px 0;
                font-family: 'MuliSemiBold';
                color: var(--ion-color-title-no-opacity);
                font-size: 16px;
            }
            .usd{
                position: absolute;
                right: 0;
            }
        }
        ion-button{
            width: 100%;
            height: 48px;
            border-radius: 7px;
            background: var(--ion-color-primary);
            span{
                text-transform: uppercase;
                color: #FFF;
                font-family: "Bold";
                font-size: 18px;
            }
        }
        p.inclusive{
            font-family: "Reg";
            color: var(--ion-color-title-no-opacity);
            text-align: left;
            font-size: 12px;
        }
    }

}