<ion-content class="ion-padding">
    <ion-row>
      <ion-col col-12 class="logo">
        <img src="assets/imgs/logo.png" alt="logo" srcset="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="title text-center">
        <ion-text class="title"> {{traduction.titleReset}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="input-container ion-margin-bottom ion-margin-top">
      <ion-input  [placeholder]="traduction.placeholderEmail"  type="email"> 
        <ion-icon src="../../assets/icon/email.svg"></ion-icon>
      </ion-input>
    </ion-row>

    <ion-row class="send">
      <ion-col>
        <!-- <button color="primary" expand="full">{{traduction.buttonReset}}
          </button> -->
        <ion-button color="primary" expand="full">
          <span>
            {{traduction.buttonReset}}
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="register">
        <span>{{traduction.DidntReceived}}? <a>{{traduction.sendAgain}}</a> </span>
      </ion-col>
    </ion-row>
  </ion-content>