<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='check == 0'  class="ion-text-left">{{traduction.privacyPolicy}}</ion-title>
    <ion-title *ngIf='check == 1'  class="ion-text-left">{{traduction.terms}}</ion-title>
    <ion-title *ngIf='check == 2'  class="ion-text-left">{{traduction.userArgement}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-row>
    <ion-col class="text">
      <ion-button >Click to View Doc</ion-button>
      <p *ngIf="language == 'english'">{{setting.privacy_policy_en}}</p>
      <p *ngIf="language == 'arabic'">{{setting.privacy_policy_ar}}</p>
      <p *ngIf="language == 'indian'">{{setting.privacy_policy_in}}</p>
    </ion-col>
  </ion-row> -->
  <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
</ion-content>