ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
ion-content{
    ion-row.form-container{
        ion-col{
            background: white;
            height: 48px;
            width: 100%;
            border-radius: 6px;
            margin-bottom: 20px;
            ion-input{
                color: var(--ion-color-text);
                font-family: 'MuliSemiBold';
                font-size: 16px;
                --placeholder-color: var(--ion-color-palceholder);
            }
            ion-icon{
                padding: 9px 7px;
                background: #FAFAFA;
                border-radius: 6px;
                margin-left: 8px;
                margin-right: 16px;
                height: 14px;
                width: 18px;
            }
            ion-select{
                flex: 1;
            }
            ion-item{
                flex: 1;
                flex: 1;
                --background: #fff;
                --padding-start: 0;
                ion-select{
                    max-width: 100%;
                    flex: 1;
                    padding-left: 0;
                }
            }
        }
    }

    ion-row.send{
        ion-col{
            ion-button{
                height: 48px;
                span{
                    font-family: "Bold";
                    font-size: 18px;
                }
            }
        }
    }
}