<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.personalDetails}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="form-container ion-margin-bottom">
    <ion-col sizeXs="12">
      <ion-input  name="first_name" [(ngModel)]="user.frist_name" [placeholder]="traduction.placeholderFirstName" type="text"> 
      </ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input name="last_name" [(ngModel)]="user.last_name" [placeholder]="traduction.placeholderLastName" type="text"> 
      </ion-input>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-input  name="email" [(ngModel)]="user.email" [placeholder]="traduction.placeholderEmail"> 
      </ion-input>
    </ion-col>
    
    <ion-col sizeXs="12">
      <!-- <ion-input name="phone" [(ngModel)]="user.phone" [placeholder]="traduction.placeholderMobile" type="phone"> 
      </ion-input> -->
      <ion-row class="inputContainer">
        <!-- <ion-select [(ngModel)]="user.country_code" [placeholder]="traduction.code"  [selectedText]="user.country_code">
          <ion-select-option *ngFor="let c of countrys"[value]="c.country_phone">{{c.country_name}}</ion-select-option>
        </ion-select> -->
   
  
        <ion-input name="phone" [(ngModel)]="user.phone" [placeholder]="traduction.placeholderPhone" type="phone"> 
          <ion-icon src="../../assets/icon/phone.svg"></ion-icon>
        </ion-input>


    </ion-row>
    </ion-col>
    <!-- <ion-col sizeXs="12">
      <ion-input name="nationality" [(ngModel)]="user.nationality" [placeholder]="traduction.placeholderNationality" type="text"> 
    </ion-input>
    </ion-col> -->


    <!-- <ion-col  sizeXs="12">
      <ion-row class="ion-align-items-center">
        <ion-item lines="none">
          <ion-label style="display:none">{{traduction.placeholderNationality}}</ion-label>
          <ion-select [(ngModel)]="user.country" [placeholder]="traduction.placeholderNationality">
            <ion-select-option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-col> -->

    <ion-col  sizeXs="12">
      <ion-row class="ion-align-items-center">
        <!-- <ion-item lines="none"> -->
          <ion-label style="display:none">{{traduction.placeholderCountry}}</ion-label>
          <ion-select [(ngModel)]="user.country" [placeholder]="traduction.placeholderCountry"  selectedText="{{opened ? '' : countryTmp}}" (ionChange)="setOpened()">
            <ion-select-option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</ion-select-option>
          </ion-select>
        <!-- </ion-item> -->
      </ion-row>
    </ion-col>
  </ion-row>





  <!-- <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="mail-outline"></ion-icon>
      <input class="input-text" name="email" [(ngModel)]="user.email" [placeholder]="traduction.placeholderEmail"
        type="text">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="person-outline"></ion-icon>
      <input class="input-text" name="first_name" [(ngModel)]="user.first_name" [placeholder]="traduction.placeholderFirstName"
        type="text">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="person-outline"></ion-icon>
      <input class="input-text" name="last_name" [(ngModel)]="user.last_name" [placeholder]="traduction.placeholderLastName"
        type="text">
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="call-outline"></ion-icon>
      <input class="input-text" name="phone" [(ngModel)]="user.phone" [placeholder]="traduction.placeholderMobile"
        type="text">
    </ion-col>
  </ion-row>

  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="people-outline"></ion-icon>
      <select [(ngModel)]="user.gender">
        <option value="1">{{traduction.mal}}</option>
        <option value="2">{{traduction.famel}}</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row class="rw">
    <ion-col class="grp">
      <ion-icon name="globe-outline"></ion-icon>
      <select [(ngModel)]="user.country">
        <option *ngFor="let c of countrys" [value]="c.country_id">{{c.country_name}}</option>
      </select>
    </ion-col>
  </ion-row> -->

  <ion-row class="send">
    <ion-col>
      <ion-button color="primary" expand="full" (click)="update()">
        <span>
          {{traduction.buttonUpdate}}
        </span>
      </ion-button>
      <!-- <button color="primary" expand="full" (click)="update()">{{traduction.buttonUpdate}}</button> -->
    </ion-col>
  </ion-row>
</ion-content>