<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-left">{{traduction.products}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card" *ngFor="let item of products">
    <img [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+item.product_photo_main" alt="">
    <span *ngIf="language == 'english'" class="name">{{item.product_name_EN}}</span>
    <span *ngIf="language == 'arabic'" class="name">{{item.product_name_AR}}</span>
    <span *ngIf="language == 'indian'" class="name">{{item.product_name_IN}}</span>
    <br><br>
    <!-- <span *ngIf="language == 'english'" class="detail">{{item.product_detail_EN}}</span>
    <span *ngIf="language == 'arabic'" class="detail">{{item.product_detail_AR}}</span>
    <span *ngIf="language == 'indian'" class="detail">{{item.product_detail_IN}}</span> -->
  </div>
</ion-content>