.card{
    margin: 18px;
    padding: 14px;
    border: 1px solid #dadada;
    border-radius: 4px;
    text-align: center;
    background-color: #FFF;
    font-family: "Bold";
    img{
        padding: 0 77px 0 77px;
    }
    .name{
        font-weight: 700;
    }
    .detail{
        color: gray;
        font-size: 12px;
    }
}