ion-content {
    ion-text.intro {
        font-family: "Bold";
        font-size  : 16px;
        color      : var(--ion-color-text);
    }

    .add {
        display      : flex;
        padding-left : 15px;
        align-items  : center;
        background   : #fff;
        border-radius: 6px;
        margin-top   : 5px;

        button {
            height       : 30px;
            width        : 30px;
            font-size    : 21px;
            border       : 1px solid #bfbfbf;
            border-radius: 3px;
            padding      : 0px;
            margin-right : 12px;

            ion-icon {
                color: #bfbfbf;
            }
        }

        p {
            margin-right: 10px;
            font-family : "Bold";
            font-size   : 16px;
            color       : var(--ion-color-title);
            opacity     : 50%;
        }
    }

    ion-row {
        ion-col {
            // background: white;
            height       : 48px;
            width        : 100%;
            border-radius: 6px;
            margin-top   : 5px;
            margin-bottom: 5px;

            ion-input {
                color              : var(--ion-color-text);
                font-family        : "MuliSemiBold";
                font-size          : 16px;
                --placeholder-color: var(--ion-color-palceholder);
                background         : #fff;
            }

            ion-item.white {
                --background: #fff;
            }

            ion-item.sapce {
                width: 95%;
                float: right;
            }
        }
    }
}
.inputType{
    margin-bottom: 10px;
    padding:0px 5px;
    box-shadow: 0px 0px 20px -3px rgba(30, 98, 255, 0.3);  
}

ion-datetime {
    --padding-start:0px;
}
h4 {
    font-weight : 600;
    margin-left : 14px;
    margin-right: 14px;
}

.input {
    border   : none;
    padding  : 17px;
    font-size: 17px;
    outline  : none;
}

select {
    margin        : 8px auto;
    /* margin-left: 19px; */
    padding       : 5px 8px 0 16px;
    width         : 100%;
    border        : none;
    background    : white;
    color         : gray;
    font-size     : 19px;
}

.save {
    display    : flex;
    align-items: center;

    input {
        margin-right: 10px;
    }

    p {
        margin-right: 10px;
    }
}

.send {
    text-align: center;

    button {
        width        : 100%;
        padding      : 14px 0;
        border-radius: 7px;
        background   : #3045b2;
        color        : white;
        font-size    : 19px;
        width        : 80%;
    }
}

.list {
    .card {
        border       : 1px solid #c5c5c5;
        border-radius: 9px;
        margin       : 21px;
        padding      : 14px;

        span {
            color: gray;
        }
    }

    .active {
        box-shadow: 0px 0px 10px 0px #5858ff;
    }
}

.total {
    background   : #f2f2f2;
    padding      : 10px;
    margin       : 2px 9px;
    font-size    : 12px;
    border-radius: 5px;
    border       : 1px solid #e5e5e5;
    text-align   : center;
    margin-bottom: 60px;

    .gt {
        display : flex;
        position: relative;
        height  : 12px;

        p {
            margin     : 0px 0 7px 0;
            font-family: "MuliSemiBold";
            color      : var(--ion-color-title-no-opacity);
            font-size  : 16px;
        }

        .usd {
            position: absolute;
            right   : 0;
        }
    }

    ion-button {
        width        : 100%;
        height       : 48px;
        border-radius: 7px;
        background   : var(--ion-color-primary);

        span {
            text-transform: uppercase;
            color         : #fff;
            font-family   : "Bold";
            font-size     : 18px;
        }
    }

    p.inclusive {
        font-family: "Reg";
        color      : var(--ion-color-title-no-opacity);
        text-align : left;
        font-size  : 12px;
    }
}

ion-footer {
    background: whitesmoke !important;
}

.form-row {

    /* float: left; */
    /* display: block; */
    background-color: #ededed;
    width           : 100%;

}

#card-element {
    background-color: transparent;
    height          : 40px;
    border-radius   : 10px;
    border          : 1px solid transparent;
    box-shadow      : 0 1px 3px 0 #e6ebf1;
    transition      : box-shadow 150ms ease;
    padding-top     : 3%;
    padding-left    : 5%;
}

.err-msg {
    padding-left : 5%;
    margin-bottom: 10px;
    color        : red;
}

.pay-btn {
    display     : inline-table;
    width       : 60%;
    margin-left : 20%;
    margin-right: 20%;
    margin-top  : 20px;
}

#card-element--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

#card-element--invalid {
    border-color: #fa755a;
}

#card-element--webkit-autofill {
    background-color: #fefde5 !important;
}

#submitbutton,
#tap-btn {
    align-items                : flex-start;
    background-attachment      : scroll;
    background-clip            : border-box;
    background-color           : rgb(50, 50, 93);
    background-image           : none;
    background-origin          : padding-box;
    background-position-x      : 0%;
    background-position-y      : 0%;
    background-size            : auto;
    border-bottom-color        : rgb(255, 255, 255);
    border-bottom-left-radius  : 4px;
    border-bottom-right-radius : 4px;
    border-bottom-style        : none;
    border-bottom-width        : 0px;
    border-image-outset        : 0px;
    border-image-repeat        : stretch;
    border-image-slice         : 100%;
    border-image-source        : none;
    border-image-width         : 1;
    border-left-color          : rgb(255, 255, 255);
    border-left-style          : none;
    border-left-width          : 0px;
    border-right-color         : rgb(255, 255, 255);
    border-right-style         : none;
    border-right-width         : 0px;
    border-top-color           : rgb(255, 255, 255);
    border-top-left-radius     : 4px;
    border-top-right-radius    : 4px;
    border-top-style           : none;
    border-top-width           : 0px;
    box-shadow                 : rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
    box-sizing                 : border-box;
    color                      : rgb(255, 255, 255);
    cursor                     : pointer;
    display                    : block;
    float                      : left;
    font-family                : "Helvetica Neue", Helvetica, sans-serif;
    font-size                  : 15px;
    font-stretch               : 100%;
    font-style                 : normal;
    font-variant-caps          : normal;
    font-variant-east-asian    : normal;
    font-variant-ligatures     : normal;
    font-variant-numeric       : normal;
    font-weight                : 600;
    height                     : 35px;
    letter-spacing             : 0.375px;
    line-height                : 35px;
    margin-bottom              : 0px;
    margin-left                : 12px;
    margin-right               : 0px;
    margin-top                 : 28px;
    outline-color              : rgb(255, 255, 255);
    outline-style              : none;
    outline-width              : 0px;
    overflow-x                 : visible;
    overflow-y                 : visible;
    padding-bottom             : 0px;
    padding-left               : 14px;
    padding-right              : 14px;
    padding-top                : 0px;
    text-align                 : center;
    text-decoration-color      : rgb(255, 255, 255);
    text-decoration-line       : none;
    text-decoration-style      : solid;
    text-indent                : 0px;
    text-rendering             : auto;
    text-shadow                : none;
    text-size-adjust           : 100%;
    text-transform             : none;
    transition-delay           : 0s;
    transition-duration        : 0.15s;
    transition-property        : all;
    transition-timing-function : ease;
    white-space                : nowrap;
    width                      : 150.781px;
    word-spacing               : 0px;
    writing-mode               : horizontal-tb;
    -webkit-appearance         : none;
    -webkit-font-smoothing     : antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image       : none;
}


.card {
    // height    : 50%;
    background: white;
}

.logo {
    display        : block;
    width          : 100%;
    height         : 150px;
    object-fit     : inherit;
    object-position: inherit;
}




.btn_right{
    position: relative;
    z-index: 999999;
}
.img_menu{
    width: 17px;
    position: absolute;
    right: 20px;
}
.div_content{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .div_inner{
        width: 100%;
        margin-top: 15px;
        padding-bottom: 15px;

        .r{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .lbl_number{
            display: block;
            font-size: 17px;
            color: gray;
            margin-left: 10px;
        }
        .img_visa{
            float: right;
            position: absolute;
            top: 50%;
            display: block;
            font-size: 17px;
            color: gray;
            margin-left: 10px;
            transform: translateY(-50%);
            height: 15px !important;
            width: 50px !important;
        }
    }
}
.btn_addcard{
    margin-top: 30px;
    --box-shadow: none !important;
}