<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [class.retate_180]="language == 'arabic'"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">{{traduction.paymentPage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid text-center>
    <ion-row>
      <ion-col>
        Use this Pay button in your PWA's payment page with the attached logic.
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div class="div_content">
    <div *ngIf="!cards?.length">
      <p class="ion-text-center"> No Card Found Please Add Card </p>
    </div>
    <ion-radio-group [(ngModel)]="token">
      <ion-item class="div_inner" lines="none" *ngFor="let card of cards;let i = index">
        <ion-thumbnail slot="end">
          {{card.brand}}
        </ion-thumbnail>
        <ion-radio (ionSelect)="changeMethod(card.id)" [value]="card.id" slot="start"></ion-radio>
        <ion-label>XXXX{{card.last4}} <br> Expiry {{card.exp_month}} / {{card.exp_year}}
        </ion-label>
      </ion-item>
    </ion-radio-group>
    <!-- <ion-button expand="block" *ngIf="cards?.length" class="btn_addcard" (click)="payment()">
      Payment &nbsp;
      <span *ngIf="util.cside ==='left'">
        {{util.currecny}} {{cart.grandTotal}}
      </span>
      <span *ngIf="util.cside ==='right'">
        {{cart.grandTotal}} {{util.currecny}}
      </span>
    </ion-button> -->
    <ion-button *ngIf="cards.length>0" expand="full" color="primary" class="btn_addcard" (click)="addNewCard()">Add New Card
    </ion-button>
  </div>

  <ion-card class="card" *ngIf="!cards?.length">
    <ion-img class="logo" src="/assets/imgs/logo.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Add new payment card</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="inputType">
        <ion-input inputmode="numeric" placeholder="Card Number" [(ngModel)]="cnumber" maxlength="16"></ion-input>
      </div>
      <div class="inputType">
        <ion-input type="text" placeholder="Card Holder Name" [(ngModel)]="cname"></ion-input>
      </div>
      <div class="inputType">
        <ion-input type="password" placeholder="CVC" [(ngModel)]="cvc" maxlength="3"></ion-input>
      </div>
      <div class="inputType">
        <ion-datetime [min]="minStartDate()" [max]="getMaxDate()" display-format="MM/YYYY" [(ngModel)]="date"
          placeholder="MM/YYYY">
        </ion-datetime>
      </div>

      <ion-button expand="full" color="primary" class="btn_addcard" (click)="addCard()">Add Card
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="check" class="ion-no-border" style="height:150px">
  <div class="total">
    <div class="gt">
      <p class="GT">{{traduction.grandTotal}}</p>
      <p [class.left_0]="language == 'arabic'" [class.usd]="language != 'arabic'">{{currency}} {{total.toFixed(2)}}</p>
    </div>
    <p class="inclusive">{{traduction.inclusive}}</p>
    <ion-button (click)="Pay()">
      <span>
        {{traduction.payNow}}
      </span>
    </ion-button>
  </div>
</ion-footer>