.img {
    width       : 50%;
    margin-left : 25%;
    margin-right: 25%;
    margin-top  : 10%;
}

.first {
    text-align : center;
    font-size  : 22px;
    font-weight: 800;
    color      : #008040;
    line-height: 1.5;
}

.second {
    text-align: center;
    font-size : 20px;
    margin-top: 20px;
}

.third {
    text-align   : center;
    font-size    : 20px;
    line-height  : 1.5;
    margin-bottom: 20px;
}

ion-button {
    width       : 60%;
    margin-left : 20%;
    margin-right: 20%;
}