<ion-content>
  <img src="assets/imgs/thanks.png" class="img" />

  <div class="first">
    <span>
      Your order has been placed successfully
    </span>
  </div>
  <div class="second">
    <span>
      Just sit back and relax
    </span>
  </div>
  <div class="third">
    <span>
      Thanks for using our services
    </span>
  </div>
  <div>
    <ion-button (click)="home()" expand="block" align="center">Home</ion-button>
  </div>
  <div>
    <ion-button (click)="tickets()" expand="block" align="center">Tickets</ion-button>

  </div>

</ion-content>