ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding-left: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
        ion-img{
            width: 50px;
        }
    }
}
ion-content{
    ion-text.big-text{
        font-family: "Bold";
        font-size: 24px;
        color: var(--ion-color-title);
        justify-content: center;
        display: flex;
    }
    ion-button{
        width: 100%;
        height: 48px;
        span{
            font-family: "Bold";
            font-size: 18px;
        }
    }
    ion-row.profile-details{
        background-image: linear-gradient(to bottom, var(--ion-color-primary), #3959FC);
        ion-col.flex-center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ion-col{
            div.img-container{
                width: 142px;
                height: 142px;
                border-radius: 50%;
                border: 10px solid #ffffff33;
                overflow: hidden;
                .img-child-container{
                    border: 10px solid #ffffff57;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
                ion-img{
                    width: 100%;
                    height: auto;
                }
            }
            ion-text.hello{
                font-size: 18px;
                font-family: "Reg";
                color: #FFF;
            }
            ion-text.name{
                font-size: 24px;
                font-family: "Reg";
                color: #FFF;
                margin-bottom: 30px;
            }
        }
        
    }
    ion-row.connected-form, ion-row.logout{
        ion-col{
            background: #FFF;
            ion-item{
                --background: #FFF;
            }
            ion-item{
                --background: #fff;
                ion-label{
                    color: var(--ion-color-text);
                    font-size: 18px;
                    font-family: "Reg";
                }
                ion-select{
                    color: var(--ion-color-primary);
                    font-size: 18px;
                    font-family: "Reg"
                }
                ion-icon.chevron{
                    color: #9B9B9B;
                    width: 10px;
                }
                ion-icon.chevron-rtl {
                    transform: rotate(180deg);
                    margin-right: 0 !important;
                }
            }
        }
    }
    ion-row.logout{
        margin-top: 13px;
        margin-bottom: 13px;
    }
    ion-row.form{
        margin-top: 30px;
        ion-text.section-title{
            font-family: 'Bold';
            font-size: 20px;
            color: #4A4A4A;
        }
        ion-item{
            --background: #fff;
            ion-label{
                color: var(--ion-color-text);
                font-size: 18px;
                font-family: "Reg";
            }
            ion-select{
                color: var(--ion-color-primary);
                font-size: 18px;
                font-family: "Reg"
            }
            ion-icon.chevron{
                color: #9B9B9B;
                width: 10px;
            }
            ion-icon.chevron-rtl {
                transform: rotate(180deg);
                margin-right: 0 !important;
            }
        }
    }
    ion-row.social-container{
        justify-content: space-between;
        padding: 20px;
        div.round-btn {
            width: 60px;
            height: 60px;
            border-radius: 60px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}
.avatar{
    text-align: center;
    background: #3045b2;
    color: white;
    padding: 22px;
    h2{
        margin-top: 0;
    }
    p{
        margin-bottom: 0;
    }
    img{
        width: 75px;
    }
}
ion-list{
    ion-item{
        ion-label{
            margin-left: 13px;
            margin-right: 13px;
        }
    }
}
// .logout{
//     display: flex;
//     align-items: center;
//     padding: 26px 13px;
//     ion-icon{
//         font-size: 40px;
//         color: #fd5454;
//         margin-right: 20px;
//     }
//     h2{
//         margin: 0;
//     }
// }
h3{
    margin-left: 15px;
    font-weight: 700;
    margin-right: 15px;
}
.contact{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        background: #3045b2;
        color: white;
        padding: 4px 10px;
        height: 38px;
        font-size: 17px;
        border-radius: 4px;
        width: 100%;
        margin: 12px;
        }
}
.soc{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin: 29px 23px;
        img{
            width: 40px;
        }
    }
}
select{
    padding: 9px;
    border: none;
    /* font-size: 16px; */
    background: transparent;
    outline: none;
}

ion-select::part(icon) {
    display: none !important;
}
ion-item::part(icon) {
    display: none !important;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 16px;
    ion-text{
        font-family: "Reg";
        font-size: 18px;
    }
}