<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.profile}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-padding" *ngIf="!isConnected">
    <ion-col sizeXs="12">
      <ion-text class="big-text">{{traduction.alertMassage}}</ion-text>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-button routerLink="/signin">
        <span>
          {{traduction.buttonLogin}}
        </span>
      </ion-button>
    </ion-col>
    <ion-col sizeXs="12">
      <ion-button routerLink="/signup">
        <span>
          {{traduction.buttonRegister}}
        </span>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isConnected" class="profile-details">
    <ion-col sizeXs="12" class="flex-center">
      <div class="img-container">
          <div class="img-child-container">
            <ion-img [src]="(user.user_photo)? user.user_photo.includes('data:image/jpeg;base64,') ? user.user_photo : 'https://easywinz.com/admin/mobapi/User/UserPhoto/'+user.user_photo : 'assets/imgs/avatar.png'" alt="" (click)="changePhoto()"></ion-img>
          </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" class="flex-center">
      <ion-text class="hello">{{traduction.hello}}</ion-text>
    </ion-col>
    <ion-col sizeXs="12" class="flex-center">
      <ion-text class="name">{{user.frist_name}} {{user.last_name}}</ion-text>
      
    </ion-col>
  </ion-row>

  <ion-row class="connected-form form" *ngIf="isConnected">
    <ion-col  sizeXs="12">
        <ion-item [routerLink]="['/personalDetails']" lines="full" detail='false'>
          <ion-icon src="../../assets/icon/user-profile.svg" slot="start"></ion-icon>
          <ion-label>{{traduction.personalDetails}}</ion-label>
          <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
        </ion-item>
    </ion-col>

    <ion-col  sizeXs="12">
      <ion-item [routerLink]="'/tabs/wishlist'"  lines="full" detail='false'>
        <ion-icon style="color: #9B9B9B;" src="../../assets/icon/heart.svg" slot="start"></ion-icon>
        <ion-label>{{traduction.wishList}}</ion-label>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item [routerLink]="['/tickets']"  lines="none" detail='false'> 
        <ion-icon src="../../assets/icon/receipt.svg" slot="start"></ion-icon>
        <ion-label>{{traduction.activeT}}</ion-label>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="logout" *ngIf="isConnected">
    <ion-col  sizeXs="12">
      <ion-item (click)="presentAlertConfirm()" lines="none">
        <ion-icon (click)="presentAlertConfirm()" src="../../assets/icon/logout.svg" slot="start"></ion-icon>
        <ion-label>{{traduction.logout}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="form">
    <ion-col sizeXs="12" class="ion-padding">
      <ion-text class="section-title">
        {{traduction.setting}}
      </ion-text>
    </ion-col>
    <ion-col sizeXs="12" class="ion-no-padding">
      <ion-item>
        <ion-label>{{traduction.language}}</ion-label>
        <ion-icon src="../../assets/icon/globe.svg" slot="start"></ion-icon>
        <ion-select value="{{language}}" okText="Okay" cancelText="Dismiss" (ionChange)="setLanguage($event)"> 
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="arabic">العربية</ion-select-option>
          <ion-select-option value="indian">भारतीय</ion-select-option>
        </ion-select>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
       
      </ion-item>
    </ion-col>

    <ion-col sizeXs="12" class="ion-no-padding">
      <ion-item >
        <ion-label>{{traduction.currency}}</ion-label>
        <ion-icon src="../../assets/icon/currency.svg" slot="start"></ion-icon>
        <ion-select [(ngModel)]="currency" okText="Okay" cancelText="Dismiss" (ionChange)="setCurrency($event)" selectedText="{{currency}}"> 
          <ion-select-option *ngFor="let c of countrys" [value]="c.country_currency" >
            {{c.country_currency}}
          </ion-select-option>
          
        </ion-select>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col sizeXs="12" class="ion-padding">
      <ion-text class="section-title">
        {{traduction.general}}
      </ion-text>
    </ion-col>
    <ion-col  sizeXs="12" class="ion-no-padding">
      <ion-item [routerLink]="['/howItWorks']" detail='false'>
        <ion-icon  class="ion-padding-end" src="../../assets/icon/info.svg"></ion-icon>
        <ion-label class="ion-padding-start">{{traduction.howItWorks}}</ion-label>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col  sizeXs="12" class="ion-no-padding">
      <ion-item [routerLink]="['/products']" detail='false'>
        <ion-icon class="ion-padding-end"src="../../assets/icon/products.svg"></ion-icon>
        <ion-label class="ion-padding-start">{{traduction.products}}</ion-label>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col  sizeXs="12" class="ion-no-padding">
      <ion-item [routerLink]="['/prize']" lines="none" detail='false'> 
        <ion-icon class="ion-padding-end"src="../../assets/icon/medal.svg"></ion-icon>
        <ion-label class="ion-padding-start">{{traduction.nextPrize}}</ion-label>
        <ion-icon class="chevron" [class.chevron-rtl]="language === 'arabic'" src="../../assets/icon/right-arrow.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding">
    <ion-col sizeXs='6'>
      <a href="tel:+971-1800-555-5555">
        <ion-button>
          <span>
            {{traduction.buttonCall}}
          </span>
        </ion-button>
      </a>
    </ion-col>
    <ion-col sizeXs='6'>
      <a href="mailto:contact@easywinz.com"> 
        <ion-button>
          <span>
          {{traduction.buttonEmail}}
          </span>
        </ion-button>
      </a>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding social-container">
    <div class="round-btn">
      <a href="http://facebook.com/eazyWinz">
        <ion-icon src="../../assets/icon/fb.svg"></ion-icon>
      </a>
    </div>
    <div class="round-btn">
      <a href="http://twitter.com/eazyWinz">
        <ion-icon src="../../assets/icon/twitter.svg"></ion-icon>
      </a>
    </div>
    <div class="round-btn">
      <a href="http://snapchat.com/eazyWinz">
        <ion-icon src="../../assets/icon/snapchat.svg"></ion-icon>
      </a>
    </div>
    <div class="round-btn">
      <a href="http://linkedin.com/eazyWinz">
        <ion-icon src="../../assets/icon/linkedin.svg"></ion-icon>
      </a>
    </div>
  </ion-row>
  <ion-row style="margin-bottom: 20px;">
    <div class="links">
      <ion-text class="link-btn" (click)="goToDocs('user_agrement')">{{traduction.userAgreement}}</ion-text>
      <ion-text class="link-btn" (click)="goToDocs('term')">{{traduction.drawTermsAndConditions}}</ion-text>
      <ion-text class="link-btn" (click)="goToDocs('privacy_policy')">{{traduction.privacyPolicy}}</ion-text>
    </div>

  </ion-row>
</ion-content>