/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Reg';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/regular_font.ttf');
}
@font-face {
    font-family: 'Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/bold_font.ttf');
}


@font-face {
    font-family: 'MuliLight';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Muli/Muli-Light.ttf');
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Muli/Muli.ttf');
}

@font-face {
    font-family: 'MuliSemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Muli/Muli-SemiBold.ttf');
}
@font-face {
    font-family: 'MuliBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Muli/Muli-Bold.ttf');
}

  
  * {
    font-family: 'Reg';
  }

:host {
    --background: #e8e8e8 !important;
}
ion-app{
    --ion-background-color:#F5F5F5;
}

ion-header{
    ion-toolbar{
        --background: #fff;
        ion-title{
            padding: 0px;
            font-family: "Bold";
            font-size: 16px;
        }
    }
    ion-toolbar.ios{
        ion-title{
            padding: 0 50px;
        }
    } 
}

ion-button{
    border-radius: 6px;
    overflow: hidden;
    --box-shadow: none;
    span{
        text-transform: capitalize;
    }
}
ion-slides{
    .swiper-pagination-bullet{
        opacity: 1 !important;
    }
}

   

ion-title{
    font-size: 14px;
}
.back{
    display: flex;
    align-items: center;
    ion-icon{
        font-size: 23px;
        margin: 0 10px;
    }
    h4{
        font-weight: 700;
    }
}
.progress {
    width: 100%;
  //  max-width: 138px;
    height: 8px;
    background: #e1e4e8;
    border-radius: 3px;
    overflow: hidden;
}
.progress {
    .progress-bar {
        display: block;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(#ffd33d), color-stop(17%, #ea4aaa), color-stop(34%, #b34bff), color-stop(51%, #01feff), color-stop(68%, #ffd33d), color-stop(85%, #ea4aaa), to(#b34bff));
        background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
        background-size: 300% 100%;
        -webkit-animation: progress-animation 2s linear infinite;
                animation: progress-animation 2s linear infinite;
    }
    .class-0-50{
        background: rgb(0, 202, 0) !important;
    }
    .class-50-75{
        background: yellow !important;
    }
    .class-75-100{
        background: red !important;
    }
} 


@-webkit-keyframes progress-animation {
    0% {
    background-position: 100%;
    }
    100% {
    background-position: 0;
    }
}

@keyframes progress-animation {
    0% {
    background-position: 100%;
    }
    100% {
    background-position: 0;
    }
}

.retate_180{
    transform: rotate(180deg);
}
.sp2{
    float: right;
}
.left_0{
    position: absolute;
    left: 0 !important;
}
.border_radius_product{
    border-radius: 0 !important;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}
.border_radius_prize{
    border-radius: 0 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

app-home ion-content{
    --padding-bottom: 30px
}