<ion-header no-border class="ion-no-border">
  <ion-toolbar >
    <ion-img slot="start" src="../../assets/imgs/logo.png"></ion-img>
    <ion-title slot="start" [class]="language === 'english' ? 'ion-text-left' : 'ion-text-right'">{{traduction.titleHome}}</ion-title>
  </ion-toolbar>
</ion-header>
    <!-- [style]="'background-image: url(https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+item.product_photo_main+');'"> -->

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of slide; let i = index"
      [style]="'background-image: url(https://easywinz.com/admin/mobapi/User/GallaryPhoto/'+item.gallary_photo+');'">
      <ion-row>
        <ion-col sizeXs="12" class="ion-no-padding">
          <span *ngIf="language == 'english'" class="title">{{item.gallary_titel_EN}}</span>
          <span *ngIf="language == 'arabic'" class="title">{{item.gallary_titel_AR}}</span>
          <span *ngIf="language == 'indian'" class="title">{{item.gallary_titel_IN}}</span>
        </ion-col>
        <ion-col sizeXs="12" class="ion-no-padding">
          <span *ngIf="language == 'english'" class="details">{{item.gallary_detail_EN}}</span>
          <span *ngIf="language == 'arabic'" class="details">{{item.gallary_detail_AR}}</span>
          <span *ngIf="language == 'indian'" class="details">{{item.gallary_detail_IN}}</span>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <ion-row class="ion-padding">
    <ion-col sizeXs="12" class="ion-no-padding">
      <ion-text *ngIf="productsWillEndSoon.length > 1" class="section-title">{{traduction.closing}}</ion-text >
    </ion-col>
    <ion-col sizeXs="12"  class="end-soon ion-no-padding">
      <div class="scroll">
        <ion-card (click)="goToProductDetails(productSoon.product_id,0)" *ngFor="let productSoon of productsWillEndSoon; let i = index">
          <ion-row class="card-header">
            <ion-col sizeXs="8" class="info-container ion-no-padding">
              <span *ngIf="language == 'english'" class="title">{{productSoon.product_name_EN}}</span>
              <span *ngIf="language == 'arabic'" class="title">{{productSoon.product_name_AR}}</span>
              <span *ngIf="language == 'indian'" class="title">{{productSoon.product_name_IN}}</span>
              <br>
              <span class="price">{{(productSoon.product_prise*rate).toFixed(2)}} {{currency}}</span> 
            </ion-col>
            <ion-col sizeXs="4" class="corner-img ion-no-padding">
              <ion-img class="corner-pic" [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+productSoon.product_photo_main" alt=""></ion-img>
            </ion-col>
          </ion-row>
          <ion-text class="prize-intro">
            <span class="intro">{{traduction.getachance}}</span>
            <span class="win">{{traduction.win}}</span></ion-text>
          <div class="prize">
            <ion-img  class="prize-img" style="height: 60px" [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+productSoon.prize_picture"></ion-img>
            <ion-text>
              <span *ngIf="language == 'english'" class="title">{{productSoon.prize_name_EN}}</span>
              <span *ngIf="language == 'arabic'" class="title">{{productSoon.prize_name_AR}}</span>
              <span *ngIf="language == 'indian'" class="title">{{productSoon.prize_name_IN}}</span>
            </ion-text>
          </div>
          <div class="prog">
            <div class="sold">
              <span [class.sp2]="language == 'arabic'"
                [class.sp1]="language != 'arabic'">{{productSoon.sold_amount}}</span>
              <span>{{traduction.soldOf}}</span>
              <span [class.sp1]="language == 'arabic'"
                [class.sp2]="language != 'arabic'">{{productSoon.total_amount}}</span>
            </div>
            <div class="progress">
              <span class="progress-bar"
                [class.class-0-50]="50 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 0"
                [class.class-50-75]="75 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 50"
                [class.class-75-100]="100 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 75"
                [style]="'width:'+(productSoon.sold_amount * 100)/ productSoon.total_amount+'%'"></span>
            </div>
          </div>
        </ion-card>


      <!-- <div class="card" (click)="goToProductDetails(productSoon.product_id,0)"
        *ngFor="let productSoon of productsWillEndSoon; let i = index">
        <div class="header">
          <div class="info">
            <span *ngIf="language == 'english'" class="title">{{productSoon.product_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="title">{{productSoon.product_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="title">{{productSoon.product_name_IN}}</span>
            <br>
            <span class="price">{{productSoon.product_prise}} {{currency}}</span>
          </div>
        </div>
        <div class="body">
          <span style="font-size: 12px;">{{traduction.getachance}} <span class="win">{{traduction.win}}</span> </span>
          <img [class.right_0]="language == 'arabic'"
            [src]="'https://easywinz.com/admin/mobapi/User/ProductTwoPhotos/'+productSoon.product_photo_with_two" alt="">

          <span>{{productSoon.prize_name_EN}}</span>
          <div class="prog">
            <div class="sold">
              <span [class.sp2]="language == 'arabic'"
                [class.sp1]="language != 'arabic'">{{productSoon.sold_amount}}</span>
              <span>{{traduction.soldOf}}</span>
              <span [class.sp1]="language == 'arabic'"
                [class.sp2]="language != 'arabic'">{{productSoon.total_amount}}</span>
            </div>
            <div class="progress">
              <span class="progress-bar"
                [class.class-0-50]="50 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 0"
                [class.class-50-75]="75 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 50"
                [class.class-75-100]="100 >= ((productSoon.sold_amount * 100)/ productSoon.total_amount) && ((productSoon.sold_amount * 100)/ productSoon.total_amount) > 75"
                [style]="'width:'+(productSoon.sold_amount * 100)/ productSoon.total_amount+'%'"></span>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    </ion-col>

    <ion-col sizeXs="12"  class="ion-no-padding">
      <ion-text class="section-title">{{traduction.CAvailable}}</ion-text >
    </ion-col>

    <ion-col  sizeXs="12" class="ion-no-padding available">
      <ion-card *ngFor="let product of products; let i = index">
        <ion-row class="card-header">
          <ion-col sizeXs="8" class="info-container ion-no-padding">
            <span *ngIf="language == 'english'" class="title">{{product.product_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="title">{{product.product_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="title">{{product.product_name_IN}}</span>
            <br>
            <span class="price">{{(product.product_prise*rate).toFixed(2)}} {{currency}}</span>
          </ion-col>
          <ion-col sizeXs="4" class="corner-img ion-no-padding">
            <ion-img class="corner-pic" [src]="'https://easywinz.com/admin/mobapi/User/ProductMainPhoto/'+product.product_photo_main" alt=""></ion-img>
          </ion-col>
        </ion-row>
        <ion-text class="prize-intro">
          <span class="intro">{{traduction.getachance}}</span>
          <span class="win">{{traduction.win}}</span></ion-text>
        <div class="prize">
          <ion-img  (click)="goToProductDetails(product.product_id,0)" [src]="'https://easywinz.com/admin/mobapi/User/PrizePhoto/'+product.prize_picture"></ion-img>
          <ion-text>
            <span *ngIf="language == 'english'" class="title">{{product.prize_name_EN}}</span>
            <span *ngIf="language == 'arabic'" class="title">{{product.prize_name_AR}}</span>
            <span *ngIf="language == 'indian'" class="title">{{product.prize_name_IN}}</span>
          </ion-text>
        </div>
        <div class="prog">
          <div class="sold">
            <span [class.sp2]="language == 'arabic'"
              [class.sp1]="language != 'arabic'">{{product.sold_amount}}</span>
            <span>{{traduction.soldOf}}</span>
            <span [class.sp1]="language == 'arabic'"
              [class.sp2]="language != 'arabic'">{{product.total_amount}}</span>
          </div>
          <div class="progress">
            <span class="progress-bar"
              [class.class-0-50]="50 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 0"
              [class.class-50-75]="75 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 50"
              [class.class-75-100]="100 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 75"
              [style]="'width:'+(product.sold_amount * 100)/ product.total_amount+'%'"></span>
          </div>
        </div>
        <ion-row class="btns-container">
          <ion-col sizeXs="6" class="ion-no-padding">
            <ion-button  class="details" (click)="goToProductDetails(product.product_id,0)">
              <span>
                {{traduction.prizeDetails}}
              </span>
            </ion-button>
          </ion-col>
          <ion-col sizeXs="6" class="ion-no-padding">
            <ion-button class="add-to-cart" (click)="addToCart(product.product_id)">
              <span>
                {{traduction.addToCart}}
              </span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!--<div class="products">
    <div class="card2" *ngFor="let product of products; let i = index">
      <div class="header" >
        <div class="info">
          <span class="title">
            <span class="buy">{{traduction.buy}}</span>
            <ng-container *ngIf="language == 'english'">
              {{product.product_name_EN}}
            </ng-container>
            <ng-container *ngIf="language == 'arabic'">
              {{product.product_name_AR}}
            </ng-container>
            <ng-container *ngIf="language == 'indian'">
              {{product.product_name_IN}}
            </ng-container>
          </span>
          <div class="like">
            <ion-icon *ngIf="product.productlike==0" (click)="addLike(i)" name="heart-outline">
            </ion-icon>
            <ion-icon *ngIf="product.productlike==1" style="color: red;" (click)="deleteLike(i)"
              name="heart-circle-outline"></ion-icon>
          </div>
          <span class="price">{{product.product_prise}} {{currency}}</span>
        </div>
     
      </div>
      <div class="body">
        <img [src]="'https://easywinz.com/admin/mobapi/User/ProductTwoPhotos/'+product.product_photo_with_two" alt="">
        <span class="get">{{traduction.getachance}} <span class="win">{{traduction.win}}</span></span><br>
        <span class="prize" *ngIf="language == 'english'">
          {{product.prize_name_EN}}
        </span>
        <span class="prize" *ngIf="language == 'arabic'">
          {{product.prize_name_AR}}
        </span>
        <span class="prize" *ngIf="language == 'indian'">
          {{product.prize_name_IN}}
        </span>
      </div>
      <div class="action">
        <div class="prog">
          <div class="sold">
            <span [class.sp2]="language == 'arabic'" [class.sp1]="language != 'arabic'">{{product.sold_amount}}</span>
            <span>{{traduction.soldOf}}</span>
            <span [class.sp1]="language == 'arabic'" [class.sp2]="language != 'arabic'">{{product.total_amount}}</span>
          </div>
          <div class="progress">
            <span class="progress-bar"
              [class.class-0-50]="50 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 0"
              [class.class-50-75]="75 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 50"
              [class.class-75-100]="100 >= ((product.sold_amount * 100)/ product.total_amount) && ((product.sold_amount * 100)/ product.total_amount) > 75"
              [style]="'width:'+(product.sold_amount * 100)/ product.total_amount+'%'"></span>
          </div>
        </div>
        <ion-icon class="b-prize" name="information-circle-outline" (click)="goToProductDetails(product.product_id,0)">
        </ion-icon>
        <ion-icon class="b-add" name="basket-outline"  (click)="addToCart(product.product_id)">
        </ion-icon>
    
    
      </div>
    </div>

  </div>
-->
    </ion-col>
  </ion-row>
</ion-content>